﻿@model Sinek_CutPointModel

<div class="panel-body">

    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="PageSize" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="PageSize" />
            <span asp-validation-for="PageSize"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="PageSizeOptions" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="PageSizeOptions" />
            <span asp-validation-for="PageSizeOptions"></span>
        </div>
    </div>
</div>
