@model Sinek_CutPoint_ViewSearchModel

@{
	//page title
	ViewBag.Title = T("Admin.Catalog.SinekCutPoints").Text;
	//active menu item (system name)
	Html.SetActiveMenuItemSystemName("Sinek Cut Point");
}

@{
	const string hideSearchBlockAttributeName = "SinekCutpointPage.HideSearchBlock";
	var hideSearchBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideSearchBlockAttributeName);
}
<nop-antiforgery-token />
<div class="content-header clearfix">
	<h1 class="pull-left">
		@T("Admin.Catalog.SinekCutPoints")
	</h1>
	<div class="pull-right">
		<a asp-action="Create" class="btn bg-blue">
			<i class="fa fa-plus-square"></i>
			@T("Admin.Common.AddNew")
		</a>
		<div class="btn-group">
				<button type="button" class="btn btn-success">
					<i class="fa fa-download"></i>
					@T("Admin.Common.Export")
				</button>
				<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					<span class="caret"></span>
					<span class="sr-only">&nbsp;</span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li>
						<a asp-action="ExportXml">
							<i class="fa fa-file-code-o"></i>
							@T("Admin.Common.ExportToXml")
						</a>
					</li>
					@*<li>
						<a asp-action="ExportXlsx">
							<i class="fa fa-file-excel-o"></i>
							@T("Admin.Common.ExportToExcel")
						</a>
					</li>*@
				</ul>
			</div>
			@*<button type="button" name="importexcel" class="btn bg-olive" data-toggle="modal" data-target="#importexcel-window">
				<i class="fa fa-upload"></i>
				@T("Admin.Common.Import")
			</button>*@
	</div>
</div>

<div class="content">
	<div class="form-horizontal">
		<div class="panel-group">
			<div class="panel panel-default panel-search">
				<div class="panel-body">
					<div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
						<div class="search-text">@T("Admin.Common.Search")</div>
						<div class="icon-search"><i class="fa fa-search" aria-hidden="true"></i></div>
						<div class="icon-collapse"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
					</div>

					<div class="search-body @(hideSearchBlock ? "closed" : "")">
						<div class="row">
							<div class="col-md-5">
								<div class="form-group">
									<div class="col-md-4">
										<nop-label asp-for="ModelName" />
									</div>
									<div class="col-md-8">
										<nop-editor asp-for="ModelName" />
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<div class="col-md-4">
										<nop-label asp-for="ManufacturerId" />
									</div>
									<div class="col-md-8">
										<nop-select asp-for="ManufacturerId" asp-items="Model.AvailableManufacturers" />
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<div class="col-md-7 col-md-offset-5">
									<button type="button" id="search-sinekcutpoints" class="btn btn-primary btn-search"><i class="fa fa-search"></i>@T("Admin.Common.Search")</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-body">
				@await Html.PartialAsync("Table", new DataTablesModel
				{
					   Name = "sinekcutpoints-grid",
					   UrlRead = new DataUrl("List", "Sinek_CutPoint", null),
					   SearchButtonId = "search-sinekcutpoints",
					   Length = Model.PageSize,
					   LengthMenu = Model.AvailablePageSizes,
					   Filters = new List<FilterParameter>
					   {
							new FilterParameter(nameof(Model.ModelName)),
                            new FilterParameter(nameof(Model.ManufacturerId))
					   },
					   ColumnCollection = new List<ColumnProperty>
							{
								new ColumnProperty(nameof(Sinek_CutPoint_ViewModel.Id))
								{
									Title = T("Admin.Catalog.Sinek.Common.Id").Text,
									Width = "80",
									ClassName =  NopColumnClassDefaults.CenterAll
								},
								new ColumnProperty(nameof(Sinek_CutPoint_ViewModel.ManufacturerName))
								{
									Title = T("Admin.Catalog.Sinek_CutPoint_Views.Fields.ManufacturerName").Text,
									Width = "200",
								},
								new ColumnProperty(nameof(Sinek_CutPoint_ViewModel.Sinek_ModelName))
								{
									Title = T("Admin.Catalog.Sinek_CutPoint_Views.Fields.Sinek_ModelName").Text,
									Width = "300",
								},
								new ColumnProperty(nameof(Sinek_CutPoint_ViewModel.Size))
								{
									Title = T("Admin.Catalog.Sinek_CutPoint_Views.Fields.Size").Text,
									Width = "100",
								},
								new ColumnProperty(nameof(Sinek_CutPoint_ViewModel.CutPoint))
								{
									Title = T("Admin.Catalog.Sinek_CutPoint_Views.Fields.CutPoint").Text,
									Width = "100",
								},
								new ColumnProperty(nameof(Sinek_CutPoint_ViewModel.DisplayOrder))
								{
									Title = T("Admin.Catalog.Sinek_CutPoint_Views.Fields.DisplayOrder").Text,
									Width = "100",
									ClassName =  NopColumnClassDefaults.CenterAll
								},
								new ColumnProperty(nameof(Sinek_CutPoint_ViewModel.AdditionalInfo))
								{
									Title = T("Admin.Catalog.Sinek_CutPoint_Views.Fields.AdditionalInfo").Text,
									Width = "300",
								},
								new ColumnProperty(nameof(Sinek_CutPoint_ViewModel.Id))
								{
									Title = T("Admin.Common.Edit").Text,
									Width = "100",
									ClassName =  NopColumnClassDefaults.Button,
									Render = new RenderButtonEdit(new DataUrl("Edit"))
								}
							}
				 })
				</div>
			</div>
		</div>
	</div>
</div>