﻿@using Nop.Web.Helpers;

@model IEnumerable<Nop.Web.Models.Catalog.Location>

@{
    ViewBag.Title = "Rockerz Location";
}
<div data-role="page" class="page-home">
    
    <div data-role="header" data-theme="b">
        <h1>Rockerz Location</h1>
    </div>

    <div data-role="content">

        <ul data-role="listview" data-inset="true">
            @foreach (var item in Model)
            {
                <li>@Html.ActionLink((string)item.Name1, "GoogleMaps", "LocationForGoogleMap", new { id = item.ID }, null).AutoRemoveAlias()</li>
                
               @*<li> @Html.ActionLink("GoogleMaps", "LocationForGoogleMap", new { id = item.ID },null)</li>*@
            }
        </ul>

    </div>
</div>