﻿@model Sinek_LocationModel

@{
    const string hideInfoBlockAttributeName = "SinekLocationPage.HideInfoBlock";
    var hideInfoBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideInfoBlockAttributeName);

 }

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<div class="content">
    <div class="form-horizontal">
        <nop-panels id="sineklocation-panels">
            <nop-panel asp-name="sineklocation-info" asp-icon="fa fa-info" asp-title="@T("Admin.Catalog.SinekLocation.Info")" asp-hide-block-attribute-name="@hideInfoBlockAttributeName" asp-hide="@hideInfoBlock" asp-advanced="false">@await Html.PartialAsync("_CreateOrUpdate.Info", Model)</nop-panel>
        </nop-panels>
    </div>
</div>
