@model Sinek_LocationSearchModel

@{
	//page title
	ViewBag.Title = T("Admin.Catalog.SinekLocations").Text;
	//active menu item (system name)
	Html.SetActiveMenuItemSystemName("Sinek Location");
}

@{
	const string hideSearchBlockAttributeName = "SinekLocationPage.HideSearchBlock";
	var hideSearchBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideSearchBlockAttributeName);
}
<nop-antiforgery-token />
<div class="content-header clearfix">
	<h1 class="pull-left">
		@T("Admin.Catalog.SinekLocations")
	</h1>
	<div class="pull-right">
		<a asp-action="Create" class="btn bg-blue">
			<i class="fa fa-plus-square"></i>
			@T("Admin.Common.AddNew")
		</a>
		@*<div class="btn-group">
			<button type="button" class="btn btn-success">
				<i class="fa fa-download"></i>
				@T("Admin.Common.Export")
			</button>
			<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				<span class="caret"></span>
				<span class="sr-only">&nbsp;</span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li>
					<button type="button" id="exportxml-selected">
						<i class="fa fa-file-code-o"></i>
						@T("Admin.Common.ExportToXml.Selected")
					</button>
				</li>
			</ul>
		</div>
		<button type="button" name="importexcel" class="btn bg-olive" data-toggle="modal" data-target="#importexcel-window">
			<i class="fa fa-upload"></i>
			@T("Admin.Common.Import")
		</button>*@
		<button type="button" id="delete-selected" class="btn bg-red">
			<i class="fa fa-trash-o"></i>
			@T("Admin.Common.Delete.Selected")
		</button>
		<nop-action-confirmation asp-button-id="delete-selected" />
	</div>
</div>

<div class="content">
	<div class="form-horizontal">
		<div class="panel-group">
			<div class="panel panel-default panel-search">
				<div class="panel-body">
					<div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
						<div class="search-text">@T("Admin.Common.Search")</div>
						<div class="icon-search"><i class="fa fa-search" aria-hidden="true"></i></div>
						<div class="icon-collapse"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
					</div>

					<div class="search-body @(hideSearchBlock ? "closed" : "")">
						<div class="row">
							<div class="col-md-5">
								<div class="form-group">
									<div class="col-md-4">
										<nop-label asp-for="Name1" />
									</div>
									<div class="col-md-8">
										<nop-editor asp-for="Name1" />
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<div class="col-md-4">
										<nop-label asp-for="Name2" />
									</div>
									<div class="col-md-8">
										<nop-editor asp-for="Name2" />
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<div class="col-md-7 col-md-offset-5">
									<button type="button" id="search-sinekLocations" class="btn btn-primary btn-search"><i class="fa fa-search"></i>@T("Admin.Common.Search")</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-body">
				@await Html.PartialAsync("Table", new DataTablesModel
				{
					   Name = "sineklocations-grid",
					   UrlRead = new DataUrl("List", "Sinek_Location", null),
					   SearchButtonId = "search-sinekLocations",
					   Length = Model.PageSize,
					   LengthMenu = Model.AvailablePageSizes,
					   Filters = new List<FilterParameter>
					   {
							new FilterParameter(nameof(Model.Name1)),
                            new FilterParameter(nameof(Model.Name2))
					   },
					   ColumnCollection = new List<ColumnProperty>
					   {
							new ColumnProperty(nameof(Sinek_LocationModel.Id))
							      {
							          IsMasterCheckBox = true,
							          Render = new RenderCheckBox("checkbox_locations"),
							          ClassName =  NopColumnClassDefaults.CenterAll,
							          Width = "50",
							      },
							new ColumnProperty(nameof(Sinek_LocationModel.Id))
							{
								Title = T("Admin.Catalog.Sinek.Common.Id").Text,
								Width = "80",
								ClassName =  NopColumnClassDefaults.CenterAll
							},
							new ColumnProperty(nameof(Sinek_LocationModel.Name1))
							{
								Title = T("Admin.Catalog.Sinek_Locations.Fields.Name1").Text,
								Width = "150",
							},
							new ColumnProperty(nameof(Sinek_LocationModel.Name2))
							{
								Title = T("Admin.Catalog.Sinek_Locations.Fields.Name2").Text,
								Width = "100",
							},
							new ColumnProperty(nameof(Sinek_LocationModel.LocationAddress))
							{
								Title = T("Admin.Catalog.Sinek_Locations.Fields.LocationAddress").Text,
								Width = "300",
							},
							new ColumnProperty(nameof(Sinek_LocationModel.PhoneNo1))
							{
								Title = T("Admin.Catalog.Sinek_Locations.Fields.PhoneNo1").Text,
								Width = "100",
							},
							new ColumnProperty(nameof(Sinek_LocationModel.Latitude))
							{
								Title = T("Admin.Catalog.Sinek_Locations.Fields.Latitude").Text,
								Width = "100",
								ClassName =  NopColumnClassDefaults.CenterAll
							},
							new ColumnProperty(nameof(Sinek_LocationModel.Longitude))
							{
								Title = T("Admin.Catalog.Sinek_Locations.Fields.Longitude").Text,
								Width = "100",
								ClassName =  NopColumnClassDefaults.CenterAll
							},
							new ColumnProperty(nameof(Sinek_LocationModel.LocationType))
							{
								Title = T("Admin.Catalog.Sinek_Locations.Fields.LocationType").Text,
								Width = "150",
							},
							new ColumnProperty(nameof(Sinek_LocationModel.UpdatedOnUtc))
							{
								Title = T("Admin.Catalog.Sinek_Locations.Fields.UpdatedOnUtc").Text,
								Width = "150",
								Render = new RenderDate()
							},
							new ColumnProperty(nameof(Sinek_LocationModel.Id))
							{
								Title = T("Admin.Common.Edit").Text,
								Width = "100",
								ClassName =  NopColumnClassDefaults.Button,
								Render = new RenderButtonEdit(new DataUrl("Edit"))
							}
					   }
				})
					      
					<script>

						$(document).ready(function () {
							$('#delete-selected-action-confirmation-submit-button').bind('click', function () {
								var postData = {
									selectedIds: selectedIds
								};
								addAntiForgeryToken(postData);
								$.ajax({
									cache: false,
                                    type: "POST",
                                    url: "@(Url.Action("DeleteSelected", "Sinek_Location"))",
                                    data: postData,
                                    error: function (jqXHR, textStatus, errorThrown) {
                                        $('#deleteSelectedFailed-info').text(errorThrown);
                                        $('#deleteSelectedFailed').click();
                                    },
                                    complete: function (jqXHR, textStatus) {
										updateTable('#sineklocations-grid');
                                    }
								});
								$('#delete-selected-action-confirmation').modal('toggle');
								return false;
							});
						});

					</script>
					<nop-alert asp-alert-id="deleteSelectedFailed" />
				</div>
			</div>
		</div>
	</div>
</div>