﻿@model Nop.Web.Models.ShoppingCart.ShoppingCartModel
@using Nop.Core.Domain.Orders
@using Nop.Web.Models.Checkout
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.ShoppingCart").Text);
}
@Html.Action("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Cart })
<div class="shoppingcart-page">
    <div class="page-title">
        <h1>What's in My Cart</h1>
    </div>
    <div class="clear">
    </div>
    <div class="body">
        @Html.Partial("OrderSummary", Model)
    </div>
	<div class="right_part" style="padding-right:0px;">
		<div class="checkout"></div>
		<div class="shipping_bag"></div>
		</div>
</div>
