﻿@model Nop.Web.Models.ShoppingCart.WishlistEmailAFriendModel
@using Nop.Web.Framework.UI.Captcha;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.WishlistEmailAFriend").Text);
}
<div class="emailafriend-page">
    <div class="page-title">
        <h1>@T("Wishlist.EmailAFriend.Title")</h1>
    </div>
    <div class="clear">
    </div>
    @if (Model.SuccessfullySent)
    {
        @Model.Result
    }
    else
    {
        <div class="send-email">
            @using (Html.BeginForm())
            {
                <table>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.FriendEmail):
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.FriendEmail, new { @class = "friendemail" })
                            @Html.ValidationMessageFor(model => model.FriendEmail)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.YourEmailAddress):
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.YourEmailAddress, new { @class = "youremail" })
                            @Html.ValidationMessageFor(model => model.YourEmailAddress)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.PersonalMessage):
                        </td>
                        <td>@Html.TextAreaFor(model => model.PersonalMessage, new { @class = "personalmessage" })
                            @Html.ValidationMessageFor(model => model.PersonalMessage)
                        </td>
                    </tr>
                    <tr>
                        <td class="message-error" colspan="2">
                            @Html.ValidationSummary(true)
                        </td>
                    </tr>
                    @if (Model.DisplayCaptcha)
                    {
                        <tr class="row">
                            <td class="item-name">
                                &nbsp;
                            </td>
                            <td class="item-value">
                                @Html.Raw(Html.GenerateCaptcha())
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            <input type="submit" id="send-email" name="send-email" class="sendemailafriendbutton" value="@T("Wishlist.EmailAFriend.Button")" />
                        </td>
                    </tr>
                </table>
            }
        </div>
    }
</div>
