﻿@model CustomerAddressListModel
@using Nop.Core.Domain.NB
<style>
    /*Keep this css here to handle auto append, when updating/adding address from popup*/
    .section.address-item { border: 1px solid #e6e6e6; margin: 0 15px; padding: 0; width: 46%; }

    .address-list-page .add-button { margin: 0 0 50px; text-align: center; }
</style>
@for (var i = 0; i < Model.Addresses.Count; i++)
{
	var address = Model.Addresses[i];
	<div class="col-md-6 section address-item">
		<div class="title">
			@if (address.IsDefaultAddress)
			{
				<text>
					@T("NB.Address.Type.Default") :
				</text>
			}
			<strong>@address.FirstName @address.LastName</strong>
		</div>
		<ul class="info">
			<li class="name">
				@address.FirstName @address.LastName
			</li>
			<li class="email">
				@address.Email
			</li>
			@if (address.CompanyEnabled && !string.IsNullOrEmpty(address.Company))
			{
				<li class="company">@address.Company</li>
			}
			@if (address.StreetAddressEnabled)
			{
				<li class="address1">
					@address.Address1
				</li>
			}
			@if (address.StreetAddress2Enabled && !string.IsNullOrEmpty(address.Address2))
			{
				<li class="address2">
					@address.Address2
				</li>
			}
			@if (address.CityEnabled && !string.IsNullOrEmpty(address.City) ||
				 address.CountyEnabled && !string.IsNullOrEmpty(address.County) ||
				 address.StateProvinceEnabled && !string.IsNullOrEmpty(address.StateProvinceName) ||
				 address.ZipPostalCodeEnabled && !string.IsNullOrEmpty(address.ZipPostalCode))
			{
				var addressLine = string.Empty;
				if (address.CityEnabled && !string.IsNullOrEmpty(address.City))
				{
					addressLine += address.City;
					if (address.CountyEnabled && !string.IsNullOrEmpty(address.County) ||
						address.StateProvinceEnabled && !string.IsNullOrEmpty(address.StateProvinceName) ||
						address.ZipPostalCodeEnabled && !string.IsNullOrEmpty(address.ZipPostalCode))
					{
						addressLine += ", ";
					}
				}
				if (address.CountyEnabled && !string.IsNullOrEmpty(address.County))
				{
					addressLine += address.County;
					if (address.StateProvinceEnabled && !string.IsNullOrEmpty(address.StateProvinceName) ||
						address.ZipPostalCodeEnabled && !string.IsNullOrEmpty(address.ZipPostalCode))
					{
						addressLine += ", ";
					}
				}
				if (address.StateProvinceEnabled && !string.IsNullOrEmpty(address.StateProvinceName))
				{
					addressLine += address.StateProvinceName;
					if (address.ZipPostalCodeEnabled && !string.IsNullOrEmpty(address.ZipPostalCode))
					{
						addressLine += ", ";
					}
				}
				if (address.ZipPostalCodeEnabled && !string.IsNullOrEmpty(address.ZipPostalCode))
				{
					addressLine += address.ZipPostalCode;
				}

                <li class="city-state-zip">
                    @addressLine
                </li>
            }
            @if (address.CountryEnabled && !string.IsNullOrEmpty(address.CountryName))
            {
                <li class="country">
                    @address.CountryName
                </li>
            }
            @if (!string.IsNullOrEmpty(address.FormattedCustomAddressAttributes))
            {
                <li class="custom-attributes-view">
                    @Html.Raw(address.FormattedCustomAddressAttributes)
                </li>
            }
        </ul>
        <ul class="info phone_list">
            @if (address.PhoneEnabled)
            {
                <li class="phone">
                    <label>@T("Address.Fields.PhoneNumber") - </label>
                    @address.PhoneNumber
                </li>
            }

		</ul>
		<div class="buttons">
			<button type="button" class="button-2 edit-address-button" onclick="loadRatingReviewComp(@address.Id)" value=" "> <i class="fa fa-pencil"></i></button>
			<button type="button" class="button-2 delete-address-button" onclick="deletecustomeraddress(@(address.Id))" value=" "><i class="fa fa-trash-o"></i></button>
		</div>
	</div>
}