﻿@model CustomerAddressListModel
@{
	Layout = "_ColumnsTwo";

	//title
	Html.AddTitleParts(T("PageTitle.Account").Text);
	//page class
	Html.AppendPageCssClassParts("html-account-page");
	Html.AppendPageCssClassParts("html-address-list-page");
}
@section left
{
	@await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.Addresses })
}
<div class="page account-page address-list-page">
	<div class="page-title">
		<h1>@T("Account.CustomerAddresses")</h1>
	</div>
	<div class="page-body">
		<nop-antiforgery-token />
		<div id="myaccount-address-list" class="address-list">
			@if (Model.Addresses.Count > 0)
			{
				@await Html.PartialAsync("_AddressesList", Model)
				<script asp-location="Footer">
                    function deletecustomeraddress(addressId) {
                        if (confirm('@T("Common.AreYouSure")')) {
                            var postData = {
                                addressId: addressId
                            };
                            addAntiForgeryToken(postData);

                            $.ajax({
                                cache: false,
                                type: "POST",
                                url: "@Url.Action("AddressDelete", "Customer")",
                                data: postData,
                                dataType: "json",
                                success: function (data, textStatus, jqXHR) {
                                    location.href = data.redirect;
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    alert('Failed to delete');
                                }
                            });
                        }
                    }
				</script>
			}
			else
			{
				<div class="no-data">
					@T("Account.CustomerAddresses.NoAddresses")
				</div>
			}
		</div>
		<div class="add-button">
			@*<input type="button" class="button-1 add-address-button" onclick="location.href='@Url.RouteUrl("CustomerAddressAdd")'" value="@T("NB.Common.AddNew.Address")" />*@
			<input type="button" class="button-1 add-address-button" onclick="loadAddressPrompt(0)" value="@T("NB.Common.AddNew.Address")" data-toggle="modal" data-target="#dv-address-container" />
		</div>
	</div>
</div>

<style>
</style>

<div id="dv-address-container" class="modal fade" role="dialog">

</div>
<script type="text/javascript" asp-location="Footer">
        function loadAddressPrompt(addressId) {
            //displayAjaxLoading(true);
            var url = '@Url.Action("AddEditAddressAjax", "Customer")' + '?addressId=' + addressId;
            $('#dv-address-container').load(url, function () {
                $('#dv-address-container').show();
                $("body").addClass("modal-open");
            });
    }
</script>