﻿@model LoginModel
@using Nop.Core
@using Nop.Core.Domain.Customers

@inject IWebHelper webHelper
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Login").Text);
    //page class
    Html.AppendPageCssClassParts("html-login-page");
    Html.AppendPageCssClassParts("html-login-signup-page");

    //register URL with return URL (if specified)
    var registerUrl = Url.RouteUrl("Register", new { returnUrl = this.Context.Request.Query["returnUrl"] }, webHelper.CurrentRequestProtocol);
}
<div class="page login-page">
    <div class="page-title">
        <h1>@T("NB.Account.Login")</h1>
    </div>
    @await Html.PartialAsync("_ExternalAuthentication.Errors")
    <div class="page-body"> 
        <div class="login-signup-wrapper fieldset">
            <form asp-route="Login" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post">
                <div asp-validation-summary="ModelOnly" class="message-error">@T("Account.Login.Unsuccessful")</div>
                <div class="form-fields">
                    @if (Model.UsernamesEnabled)
                    {
                    <div class="inputs">
                        <label asp-for="Username" asp-postfix=" "></label>
                        <input asp-for="Username" class="username" autofocus="autofocus" placeholder="@T("Account.Login.Fields.Username.Placeholder")" />
                        <nop-required />
                        <span asp-validation-for="Username"></span>
                    </div>
                    }
                    else
                    {
                <div class="inputs">
                    <label asp-for="Email" asp-postfix=":"></label>
                    <input asp-for="Email" class="email" autofocus="autofocus" placeholder="@T("Account.Login.Fields.Email.Placeholder")" />
                    <nop-required />
                    <span asp-validation-for="Email"></span>
                </div>
                    }
                <div class="inputs">
                    <label asp-for="Password" asp-postfix=":"></label>
                    <input asp-for="Password" class="password" placeholder="@T("Account.Login.Fields.Password.Placeholder")" />
                    <nop-required />
                    <span asp-validation-for="Password"></span>
                </div>
                    <div class="inputs reversed">
                        @*<input asp-for="RememberMe" />
                        <label asp-for="RememberMe"></label>*@
                        <span class="forgot-password">
                            <a asp-route="PasswordRecovery">@T("Account.Login.ForgotPassword")</a>
                        </span>
                    </div>
                    @if (Model.DisplayCaptcha)
                    {
                        <div class="captcha-box">
                            <nop-captcha />
                        </div>
                    }
                </div>
                <div class="agreeText"> @T("NB.Signin.Agree.Text")</div>
                <div class="buttons">
                    <input class="button-1 login-button" type="submit" value="@T("Account.Login.LoginButton")" />
                </div>
                <div class="registerText">@T("NB.Login.Signup.Text") <a href="@registerUrl">@T("NB.Button.Signup.Now")</a></div>
            </form>
        </div>
       
        <div class="external-authentication">
            @await Component.InvokeAsync("ExternalMethods", "ExternalAuthentication")
        </div> 
    </div>
</div>