﻿@{
    Layout = "~/Views/Shared/_ColumnsOneEntry.cshtml";
}
<div id="splash_main">
    <div id="splash_logo">
        <a href="@Url.RouteUrl("HomePage")" class="logo">&nbsp; </a>
    </div>
    <div>
        <a href="/t/Product">
            <div id="splash_wheel" class="slideshow">
                <img src="/Themes/Rockerz/Content/Images/Banner_Wheel_01.png" alt="" />
                <img src="/Themes/Rockerz/Content/Images/Banner_Wheel_02.png" alt="" />
                <img src="/Themes/Rockerz/Content/Images/Banner_Wheel_03.png" alt="" />
                <img src="/Themes/Rockerz/Content/Images/Banner_Wheel_04.png" alt="" />
                <img src="/Themes/Rockerz/Content/Images/Banner_Wheel_05.png" alt="" />
                <img src="/Themes/Rockerz/Content/Images/Banner_Wheel_06.png" alt="" />
                <img src="/Themes/Rockerz/Content/Images/Banner_Wheel_07.png" alt="" />
                <img src="/Themes/Rockerz/Content/Images/Banner_Wheel_08.png" alt="" />
                <img src="/Themes/Rockerz/Content/Images/Banner_Wheel_09.png" alt="" />
                <img src="/Themes/Rockerz/Content/Images/Banner_Wheel_10.png" alt="" />
                <img src="/Themes/Rockerz/Content/Images/Banner_Wheel_11.png" alt="" />
                <img src="/Themes/Rockerz/Content/Images/Banner_Wheel_12.png" alt="" />
            </div>
        </a>
    </div>
    <div id="splash_dancers_container">
        <div class="entrypageimage">
            @Html.Action("TopicBlock", "Topic", new { systemName = "HomePageEntryImage" })
        </div>
        <div class="splash_enter_site">
            <a href="/t/Product">click skaters to enter site</a>
        </div>
    </div>


</div>


<div style="position: fixed; z-index: 1000; width: 117px; height: 67px; bottom: 15px; right: 15px;"><a href="#" onclick="window.open('https://www.sitelock.com/verify.php?site=rockerzskateguards.com','SiteLock','width=600,height=600,left=160,top=170');"><img class="img-responsive" alt="SiteLock" title="SiteLock" src="//shield.sitelock.com/shield/rockerzskateguards.com" /></a></div>