﻿@model SocialModel
<ul class="networks">
    @if (!string.IsNullOrEmpty(Model.FacebookLink))
    {
        <li class="facebook"><a href="@Model.FacebookLink" target="_blank"><i class="fa fa-facebook"> </i> @T("Footer.FollowUs.Facebook")</a></li>
    }
    @if (!string.IsNullOrEmpty(Model.TwitterLink))
    {
        <li class="twitter"><a href="@Model.TwitterLink" target="_blank"><i class="fa fa-twitter"> </i>@T("Footer.FollowUs.Twitter")</a></li>
    }
    @*@if (Model.NewsEnabled)
        {
            <li class="rss"><a href="@Url.RouteUrl("NewsRSS", new {languageId = Model.WorkingLanguageId})"><i class="fa fa-rss"> </i>@T("Footer.FollowUs.RSS")</a></li>
        }
        @if (!string.IsNullOrEmpty(Model.YoutubeLink))
        {
            <li class="youtube"><a href="@Model.YoutubeLink" target="_blank"><i class="fa fa-youtube"> </i>@T("Footer.FollowUs.Youtube")</a></li>
        }*@
    <li class="linkedIn"><a href="#" target="_blank"><i class="fa fa-linkedin"> </i>@T("Footer.FollowUs.LinkedIn")</a></li>
    <li class="instagram"><a href="https://www.instagram.com/rockerzskateguards/" target="_blank"><i class="fa fa-instagram"> </i>@T("Footer.FollowUs.Instagram")</a></li>
</ul>