﻿@model PasswordRecoveryConfirmModel
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}
@using Nop.Web.Framework;
@using Nop.Web.Models.Customer;
<div class="password-recovery-page mid_mar">
    <div class="page-title">
        <h1>@T("Account.PasswordRecovery")</h1>
    </div>
    <div class="clear">
    </div>
    <div class="body mid_mar" style=" margin-top:30px;">
        @if (!String.IsNullOrEmpty(Model.Result))
        {
            <div class="password_rev" style="text-align:center;">
            <strong>
                @Model.Result
            </strong>
            </div>
        }
        @if (!Model.SuccessfullyChanged)
        {
            using (Html.BeginForm())
            {
            <div class="password_rev">
                <table>
                <tr>
                <td colspan="2"><h2>
                Change Password</h2></td>
                </tr>

                <tr><td colspan="2"> &nbsp;</td></tr>

                    <tr>
                        <td>
                            @Html.LabelFor(model => model.NewPassword)
                        </td>
                        <td>
                            @Html.EditorFor(model => model.NewPassword)
                          
                        </td>
                    </tr>
                    <tr>
                    <td></td>
                    <td>  @Html.ValidationMessageFor(model => model.NewPassword)</td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.ConfirmNewPassword)
                        </td>
                        <td>
                            @Html.EditorFor(model => model.ConfirmNewPassword)
                           
                        </td></tr>
                        <tr>
                        <td></td>
                        <td> @Html.ValidationMessageFor(model => model.ConfirmNewPassword)</td>
                        
                        </tr>

                    
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            @*<input type="submit" id="set-password" name="set-password" class="newpasswordbutton"  value="@T("Account.PasswordRecovery.ChangePasswordButton")" />*@
                            <input type="submit" id="set-password" name="set-password" class="newpasswordbutton"  value="@T("Submit")" />
                        </td>
                    </tr>
                </table>
            </div>
            }
        }
    </div>
</div>
