﻿@model PasswordRecoveryModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}
<div class="password-recovery-page mid_mar">
    <div class="page-title">
        <h1>@T("Account.PasswordRecovery")</h1>
    </div>
    <div class="clear">
    </div>
    <div class="body">
       
        @using (Html.BeginForm())
        {  
            <div class="mid_mar"> 
            <div class=" password_rev">         
            <table class="table-container" width="100%">
            <tr>
            <td colspan="2">
             @if (!String.IsNullOrEmpty(Model.Result))
        {
            <strong>
                @Model.Result
            </strong>
        }
            
            </td>
            </tr>

             <tr>
            <td colspan="2"> &nbsp;</td>
            </tr>




                <tr>
                    <td class="item-name tooltip" colspan="2" style="text-align:center;">
                        @T("Account.PasswordRecovery.Tooltip")
                    </td>
                </tr>

                <tr><td> &nbsp;</td></tr>
                <tr class="row">
                    <td class="item-name">
                        @Html.LabelFor(model => model.Email):
                    </td>
                    <td class="item-value">
                        @Html.TextBoxFor(model => model.Email, new { @class = "email" })
                        @Html.ValidationMessageFor(model => model.Email)
                    </td>
                </tr>
                <tr><td class="item-name">
                        &nbsp;
                    </td>
                    <td></td>
                </tr>
                <tr class="row">
                    <td class="item-name">
                        &nbsp;
                    </td>
                    <td class="buttons" style="text-align:left;">
                        <input type="submit" id="send-email" name="send-email" class="passwordrecoverybutton" value="@T("Account.PasswordRecovery.RecoverButton")" />
                    </td>
                </tr>
            </table>
            </div>
            </div>
        }
    </div>
</div>
