﻿@model Nop.Web.Models.Customer.RegisterResultModel
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
}
<div class=" mid_mar">
<div class="password-recovery-page mid_mar">
    <div class="page-title">
        <h1>@T("Account.Register")</h1>
    </div>
    <div class="clear">
    </div>
    <div class="body mid_mar" style=" margin-top:30px;">
        @if (!String.IsNullOrEmpty(Model.Result))
        {
            <div class="password_rev" style="text-align:center;">
            <strong>
                @Model.Result
            </strong>
            </div>
        }
        </div>
    @*<div class="body">
        <div class="section-body complete ">
        <div class=" password_rev" style="width:200px;">
            <h2>
                @Model.Result
            </h2>
            </div>
        </div>
    </div>*@
</div></div>