﻿@model FaviconModel
@using Nop.Core
@using Nop.Core.Infrastructure;
@using Nop.Services.Localization;
@using Nop.Web.Models.Common;
@{
    var storeURL = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.GetLocalized(x => x.Url);
    storeURL = storeURL + "Themes/Rockerz/Content/images/favicon.ico";
}
@*<link rel="icon" href="@Model.FaviconUrl" />*@
<link rel="shortcut icon" href="@storeURL" />
