﻿@model HeaderLinksModel
@using Nop.Web.Models.Common;
<div class="header-links">
    <ul>
        @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "header_links_before" })
        @*@if (Model.IsCustomerImpersonated)
        {
            <li><span class="impersonate">(@(string.Format(T("Account.ImpersonatedAs").Text, Model.CustomerEmailUsername)))
                - <a href="@Url.RouteUrl("Logout")" class="finish-impersonation" title="@T("Account.ImpersonatedAs.Finish.Hint")">@T("Account.ImpersonatedAs.Finish")</a>
                ) </span></li>
        }
        @if (Model.DisplayAdminLink)
        {
            <li><a href="@Url.Content("~/admin")" class="ico-admin">@T("Account.Administration")</a>
            </li>
        }*@
        @if (Model.IsAuthenticated)
        {
       <li>@Html.Action("AdminHeaderLinks", "Common")</li>
            <li><a href="@Url.RouteUrl("CustomerInfo")" class="account">@Model.CustomerEmailUsername</a></li>
            <li><a href="@Url.RouteUrl("Logout")" class="ico-logout">@T("Account.Logout")</a></li>
            
            if (Model.AllowPrivateMessages)
            {
            <li><a href="@Url.RouteUrl("PrivateMessages", new { tab = "" })" class="ico-inbox">@T("PrivateMessages.Inbox")</a>
                @Model.UnreadPrivateMessages</li>
                if (!string.IsNullOrEmpty(Model.AlertMessage))
                {
            <script type="text/javascript">
                $(document).ready(function () {
                    displayPopupNotification('@(Model.AlertMessage)', 'success', false);
                });
            </script>
                }
            }
        }
        else
        {
            <li><a href="@Url.RouteUrl("Register")" class="ico-register">@T("Account.Register")</a></li>
            <li><a href="@Url.RouteUrl("Login")" class="ico-login">@T("Account.Login")</a></li>
        }
        @if (Model.ShoppingCartEnabled)
        {
            <li id="topcartlink"><a href="@Url.RouteUrl("ShoppingCart")" class="ico-cart">@T("ShoppingCart")</a>
                <a href="@Url.RouteUrl("ShoppingCart")" class="cart-qty">(@Model.ShoppingCartItems)</a>
            </li>
            <script type="text/javascript">
                $('#topcartlink').on('mouseenter', function () {
                    $('#flyout-cart').addClass('active');
                });
                $('#topcartlink').on('mouseleave', function () {
                    $('#flyout-cart').removeClass('active');
                });
                //$('#flyout-cart').on('mouseenter', function () {
                //    $('#flyout-cart').addClass('active');
                //});
                //$('#flyout-cart').on('mouseleave', function () {
                //    $('#flyout-cart').removeClass('active');
                //});
            </script>
        }
        @if (Model.WishlistEnabled)
        {
            <li style="display:none;"><a href="@Url.RouteUrl("Wishlist")" class="ico-wishlist">@T("Wishlist")</a> <a href="@Url.RouteUrl("Wishlist")" class="wishlist-qty">
                (@Model.WishlistItems)</a> </li>
        }
        @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "header_links_after" })
    </ul>
</div>
