﻿@model ProductDetailsModel
@using Nop.Core;
@using Nop.Core.Domain.Common;
@using Nop.Core.Infrastructure;
@using Nop.Web;
@using Nop.Web.Framework.UI;
@using Nop.Web.Models.Catalog;
<style type="text/css">
 
    #loader
    {
        position: fixed;
        width: 100%;
        background: url("/Content/images/trans.png") 0 0 repeat;
        top: 0;
        left: 0;
        height: 100%;
    }
    
    #loader .load
    {
        background: url("/Content/images/loading.gif") no-repeat scroll center 0 transparent;
        color: #FFFFFF;
        font-size: 20px;
        margin: 233px auto 0;
        padding-top: 46px;
        text-align: center;
        width: 500px;
    }
</style>
@*<script type="text/javascript">
    $(function () {
        $(document).ajaxStart(function () {
            $("#ajax_loading").show();
            $('.dvLogin').attr('disabled', 'disabled');
            $("#dvLogin").css({ // this is just for style
                "opacity": "0.3"
            });
        }).ajaxStop(function () {
            $("#ajax_loading").hide();
            $("#dvLogin").css({ // this is just for style
                "opacity": "0.8"
            });
        });
    });
</script>*@
<script type="text/javascript">
    $(document).ready(function () {
    
        defaultProductVariantId = 0;
        var ProductId = $("#hdfProductId").val();
        $(".colorbrush").hide();



        $.ajax({
            type: "POST",
            url: "/Product/Bindcolors",
            async: false,
            data: { productId: ProductId }
        }).done(function (data) {


            //alert(data);
            //        });



            //        $.get("/Product/Bindcolors?productId=" + ProductId, function (data) {

            var strResult = data.split('`');
            var strGoldSpringSetting = strResult[0]; //GoldSpringSetting
            var strSilverSpringSetting = strResult[1]; //SilverSpringSetting
            var HtmlGuardColors = strResult[2]; //GuardColors 1
            var HtmlGuardColors3 = strResult[3].replace('000!important', '555'); //GuardColors 3
            var HtmlGuardColors2 = strResult[4]; //GuardColors 2
            var HtmlGuardColors4 = strResult[5]; //GuardColors 4
            $(".HtmlGuardColors").html(HtmlGuardColors);
            $(".HtmlGuardColors3").html(HtmlGuardColors3);
            $(".HtmlGuardColors2").html(HtmlGuardColors2);
            $(".HtmlGuardColors4").html(HtmlGuardColors4);
            $('div[id^="color1_"]').mouseover(function () {
                color = $(this).attr("color");
                $("#rock_back_left").css('background-image', 'url("/Content/Images/design/left-' + color + '.png")');
                showColorName(color, "rock_back_left");
            });
            $('div[id^="color3_"]').mouseover(function () {
                color = $(this).attr("color");
                $("#rock_front_left").css('background-image', 'url("/Content/Images/design/left-' + color + '.png")');
                showColorName(color, "rock_front_left");
            });
            $('div[id^="color4_"]').mouseover(function () {
                color = $(this).attr("color");
                $("#rock_front_right").css('background-image', 'url("/Content/Images/design/right-' + color + '.png")');
                showColorName(color, "rock_front_right");
            });
            $('div[id^="color2_"]').mouseover(function () {
                color = $(this).attr("color");
                $("#rock_back_right").css('background-image', 'url("/Content/Images/design/right-' + color + '.png")');
                showColorName(color, "rock_back_right");
            });

            $(".dvContent").html(strResult[6]);
            defaultProductVariantId = strResult[7]; //defaultProductVariantId
            $(".colorbrush").show();
            //alert(strGoldSpringSetting)
            //alert(strSilverSpringSetting)
            $("#hdfGoldDiv").val(strGoldSpringSetting);
            $("#hdfSilveDiv").val(strSilverSpringSetting);
            var str = $("#hdfGoldDiv").val();
            if (str == "True") {
                changeSpringColor("gold");
            }

            var str2 = $("#hdfSilveDiv").val();
            if (str2 == "True") {
                changeSpringColor("silver");
            }
            $("#loader").hide();
            randomlyChooseColorsAndSprings();
        });


    });
    function checkStock() {
        var result = "";

        //            document.getElementById("my-dialog").style.display = 'inline';
        //            document.getElementById("loading_overlay").style.display = 'inline';
        //            var loadhtml = "Loading... <a href='javascript:void();' onclick='hide(\"loading_overlay\");'>Close</a>";
        //            //$('#loading_overlay').html(loadhtml);
        //            $('#my-dialog').html(loadhtml);
        var addressValue = location.href.split('/p/');
        //var address = addressValue[0].toString() + "/ModelPopupWeb/CheckStock";
        var address = "/ModelPopupWeb/CheckStock";

        var objrock_front_spring = document.getElementById("rock_front_spring").style.backgroundImage;
        var objrock_front_left = document.getElementById("rock_front_left").style.backgroundImage;
        var objrock_front_right = document.getElementById("rock_front_right").style.backgroundImage;
        var objrock_back_left = document.getElementById("rock_back_left").style.backgroundImage;
        var objrock_back_right = document.getElementById("rock_back_right").style.backgroundImage;
        var springs = objrock_front_spring.split("/");
        var frontleftFront = objrock_front_left.split("/");
        var frontrightFront = objrock_front_right.split("/");
        var backleftBack = objrock_back_left.split("/");
        var backrightBack = objrock_back_right.split("/");
        var _color1 = $.fn.SplitValue(frontleftFront).toString();
        var _color2 = $.fn.SplitValue(frontrightFront).toString();
        var _color3 = $.fn.SplitValue(backleftBack).toString();
        var _color4 = $.fn.SplitValue(backrightBack).toString();
        //            _color1 = _color1.toString().split('-')[1].replace("_", " ");
        //            _color2 = _color2.toString().split('-')[1].replace("_", " ");
        //            _color3 = _color3.toString().split('-')[1].replace("_", " ");
        //            _color4 = _color4.toString().split('-')[1].replace("_", " ");

        var re = new RegExp('_', 'g');
        _color1 = _color1.toString().split('-')[1].replace(re, ' ');
        _color2 = _color2.toString().split('-')[1].replace(re, ' ');
        _color3 = _color3.toString().split('-')[1].replace(re, ' ');
        _color4 = _color4.toString().split('-')[1].replace(re, ' ');
        var pvi = defaultProductVariantId;
        $.ajax({
            type: 'POST',
            cache: false,
            async: false,
            url: address,
            data: { color1: _color1, color2: _color2, color3: _color3, color4: _color4, productVariantId: pvi },
            success: function (res) {

                if (res == "<!-- -->") // All colors are in stock
                {

                    result = "1";
                }
                else // Colors are out of stock
                {
                    result = "0";
                    //$('#loading_overlay').html(res);
                    //$('#my-dialog').html(res);
                    alert(res);
                }
            }
        });

        return result;
    }
</script>
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title, meta
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);
    Html.AppendScriptParts(@Url.Content("/Themes/Rockerz/Content/js/rockerz.designmine.js"));

    var canonicalUrlsEnabled = EngineContext.Current.Resolve<SeoSettings>().CanonicalUrlsEnabled;
    if (canonicalUrlsEnabled)
    {
        var productUrl = Url.RouteUrl("Product", new { productId = Model.Id, SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(productUrl);
    }
}
@{
    
    var defaultProductVariant = Model.ProductVariantModels != null ? Model.ProductVariantModels[0] : null;

    //errors
    var errors = new List<string>();
    foreach (var modelState in ViewData.ModelState.Values)
    {
        foreach (var error in modelState.Errors)
        {
            errors.Add(error.ErrorMessage);
        }
    }
    var GuardColors = "";
    var Springs = "";
    //var GuardColors = defaultProductVariant != null ? defaultProductVariant : defaultProductVariant.ProductVariantAttributes.ToList().FirstOrDefault(a => a.Name == "Guard Colors");
    //var Springs = defaultProductVariant != null ? defaultProductVariant : defaultProductVariant.ProductVariantAttributes.ToList().FirstOrDefault(a => a.Name == "Spring Set");

    var Color1index = 0;
    var Color2index = 0;
    var Color3index = 0;
    var Color4index = 0;

    string GoldSpringSetting = "True";
    string SilverSpringSetting = "True";
    //foreach (var item in Springs.Values)
    //{
    //    if (item.Name == "Gold")
    //    {
    //        if (item.EnableSpring == null || item.EnableSpring == false)
    //        {
    //            GoldSpringSetting = "False";
    //        }
    //    }
    //    else if (item.Name == "Silver")
    //    {
    //        if (item.EnableSpring == null || item.EnableSpring == false)
    //        {
    //            SilverSpringSetting = "False";
    //        }
    //    }
    //}
}
@if (errors.Count > 0)
{
    var addToCartWarningsSb = new System.Text.StringBuilder();
    for (int i = 0; i < errors.Count; i++)
    {
        addToCartWarningsSb.Append(errors[i]);
        if (i != errors.Count - 1)
        {
            addToCartWarningsSb.Append("\\n");
        }
    }

    //display errors   

}
@functions{
    private string getStyle(string colorCode, string borderColorCode)
    {
        string result = "";
        //result = "float: left; height: 16px; margin: 2px; white-space: nowrap; width: 16px; ";
        if (colorCode != "")
            result += "background-color: " + colorCode + "; ";
        if (borderColorCode != null && borderColorCode != "")
            result += "border: 1px solid " + borderColorCode + ";";
        else
            result += "border: 1px solid " + colorCode + ";";
        return result;
    }
}
<div>
    <div class="clear">
    </div>
    <div id="designmine_main">
        <div id="rock_main">
            <div class="rightcontrol">
                <div class="viewoption">
                    Viewing Options
                </div>
                <div class="springcontrol">
                    <div id="spring_gold" class="f-left">
                        gold springs</div>
                    <div id="spring_silver" class="f-left">
                        silver springs</div>
                </div>
                <div class="randomcontrol" id="design_randomize_btn">
                    randomize all colors
                </div>
                <div class="randomcontrol1" id="design_randomizepair_btn">
                    randomize pair colors
                </div>
                <div class="changebg" id="designmine_changebackground">
                    change background
                </div>
            </div>
            <div class="designbox">
                <div id="rock_front_left" style="background-image: url('/Content/Images/design/left-bahama_blue.png');">
                </div>
                <div id="rock_front_right" style="background-image: url('/Content/Images/design/right-lemon_ice.png');">
                </div>
                @* Client say it have no stock of gold string so we hide this section *@ @*<div id="rock_front_spring" style="background-image: url('/Content/Images/design/Goldsprings.png');"></div>*@
                <div id="rock_front_spring" style="background-image: url('/Content/Images/design/Silver.png');">
                </div>
                <div id="rock_back_left" style="background-image: url('/Content/Images/design/left-sublime_lime.png');">
                </div>
                <div id="rock_back_right" style="background-image: url('/Content/Images/design/right-racer_red.png');">
                </div>
                @* Client say it have no stock of gold string so we hide this section *@ @*<div id="rock_back_spring" style="background-image: url('/Content/Images/design/Goldsprings.png');">
                </div>*@
                <div id="rock_back_spring" style="background-image: url('/Content/Images/design/Silver.png');">
                </div>
            </div>
            <div class="colorbrushwrap">
                <div class="colorbrush" onclick="myFunction()" type="submit">
                    <a id="OpenPopupnew" href="javascript:void(0);">@*onclick="show('my-dialog'),show('')"*@
                        Yes, I want these colors! <span>... next step >></span> </a>
                </div>
            </div>
            <div class="clear">
            </div>
            <div class="footcontrol">
                <div class="colorcontrolbox">
                    <div class="colorcontrol HtmlGuardColors">
                        @*  @foreach (var item in GuardColors.Values)
                        {
                            Color1index++;
                            <div id="color1_@(item.Id)" color="@(item.Name.ToString().Replace(" ", "_"))" 
                                class ="colors"  style="@(getStyle(item.ColorCode, item.BorderColorCode))">
                            </div>
                        }
                        <br class="clear" />
                        <div id="rock_back_left_colorname" class="colorname">
                            <span style="color: #d2ef50;">sublime lime</span>
                        </div>
                        <span class="colorno" 
                        @if (Color1index <= 9)
                        {
                            @:style="position:absolute; left:-60px; top:36px;"
                        }
                        >COLOR 1:</span>*@
                    </div>
                    <br class="clear" />
                    <div class="colorcontrol HtmlGuardColors3">
                        @*  @foreach (var item in GuardColors.Values)
                        {
                            Color3index++;
                            <div id="color3_@(item.Id)" color="@(item.Name.ToString().Replace(" ", "_"))" 
                                class ="colors"  style="@(getStyle(item.ColorCode, item.BorderColorCode))">
                            </div>
                        }
                        <br class="clear" />
                        <div id="rock_front_left_colorname" class="colornameBlack"><span class="colornameBlack">bahama blue</span></div>
                        <span class="colorno" style="color:#000!important;" 
                        @if (Color3index <= 9)
                        {
                            @:style="position:absolute; left:-60px; top:36px;"
                        }
                        >COLOR 3:</span>*@
                    </div>
                </div>
                <div class="colorcontrolbox1">
                    <div class="colorcontrol HtmlGuardColors2">
                        @* @foreach (var item in GuardColors.Values)
                        {
                            Color2index++;
                            <div id="color2_@(item.Id)" color="@(item.Name.ToString().Replace(" ", "_"))" 
                                class ="colors"  style="@(getStyle(item.ColorCode, item.BorderColorCode))">
                            </div>
                        }
                        <br class="clear" />
                        <div id="rock_back_right_colorname" class="colorname"><span style="color: #b30f21;">racer red</span></div>
                        <span class="colorno" 
                        @if (Color2index <= 9)
                        {
                            @:style="position:absolute; left:-60px; top:36px;"
                        }
                        >COLOR 2:</span>*@
                    </div>
                    <br class="clear" />
                    <div class="colorcontrol HtmlGuardColors4">
                        @*   @foreach (var item in GuardColors.Values)
                        {
                            Color4index++;
                            <div id="color4_@(item.Id)" color="@(item.Name.ToString().Replace(" ", "_"))" 
                                class ="colors"  style="@(getStyle(item.ColorCode, item.BorderColorCode))">
                            </div>
                        }
                        <br class="clear" />
                        <div id="rock_front_right_colorname" class="colorname"><span style="color: #eedb43;">lemon ice</span></div>
                        <span class="colorno" 
                        @if (Color4index <= 9)
                        {
                            @:style="position:absolute; left:-60px; top:36px;"
                        }
                        >COLOR 4:</span>*@
                    </div>
                </div>
            </div>
        </div>
        <div id="designmine_footer" style="display: none;">
            <div id="design_mine_ia">
                <div id="design_mine">
                    DESIGN MINE
                </div>
                <div id="interactive_styler">
                    interactive styler
                </div>
            </div>
            <div class="design_btn" id="design_start_btn">
                <div class="f-left" id="start_btn_img">
                </div>
                <span class="design_btn_txt f-left" id="start_btn_txt">design</span>
                <div class="clearfloat">
                </div>
            </div>
            <div class="design_btn" id="design_randomize_btnold">
                <div class="f-left" id="randomize_btn_imgold">
                </div>
                <span class="design_btn_txt f-left" id="randomize_btn_txtold">randomize</span>
                <div class="clearfloat">
                </div>
            </div>
            <div class="design_btn" id="design_finalize_btn">
                <div class="f-left" id="finalize_btn_img">
                </div>
                <div onclick="myFunction()" class="design_btn_txt f-left" type="submit">
                    <a href="#" id="OpenPopup" onclick="show('my-dialog'),show('')"><span class="design_btn_txt f-left"
                        id="finalize_btn_txt">finalize </span></a>
                </div>
                <div class="clearfloat">
                </div>
            </div>
        </div>
        <div>
        </div>
        <div id="rock_hidden">
        </div>
    </div>
    <div style="display: none;">
        <!--product breadcrumb-->
        @Html.Action("ProductBreadcrumb", "Catalog", new { productId = Model.Id })
    </div>
    <div class="dvContent">
    </div>
    <p style="display: none;">
        <nop.core.domain.common.adminareasettings><br /></nop.core.domain.common.adminareasettings>
    </p>
    <script type="text/javascript">
        function show(id) {
            document.getElementById(id).style.display = 'inline';
        }
        function hide(id) {
            document.getElementById(id).style.display = 'none';

        }
    </script>
    <div id="loading_overlay" style="display: none;">
    </div>
    <div id="my-dialog">
    </div>
    <input id="hdsprings" type="hidden" />
    <input id="hdleftFront" type="hidden" />
    <input id="hdrightFront" type="hidden" />
    <input id="hdleftBack" type="hidden" />
    <input id="hdrightBack" type="hidden" />
    <input id="hdManufacturerId" type="hidden" />
    <input id="hdModelId" type="hidden" />
    <input id="hdAvailableCutPoint" type="hidden" />
    <input id="hdtxtCutPoint1" type="hidden" />
    <input id="hdfGoldDiv" value="True" type="hidden" />
    <input id="hdfSilveDiv" value="True" type="hidden" />
    <input id="hdtowel" type="hidden" />
    <input id="hdfProductId" type="hidden" value="@Model.Id" />
    <script type="text/javascript">// <![CDATA[
        function SplitValue(obj) {
            var springs = obj;
            springs = springs[springs.length - 1].toString().split("')");
            springs = springs[0].split(".png")
            return springs[0].toString();
        }  // ]]></script>
    <script type="text/javascript">// <![CDATA[
        $('#OpenPopup, #OpenPopupnew').click(function () {
            var result = checkStock();
            if (result == "1") {
                document.getElementById("my-dialog").style.display = 'inline';
                document.getElementById("loading_overlay").style.display = 'inline';
                var addressValue = location.href.split('/p/');
                //var address = addressValue[0].toString() + "/ModelPopupWeb/Create";
                var address = "/ModelPopupWeb/Create";

                $.ajax({
                    type: 'POST', cache: false,
                    async: true, url: address, success: function (res) {
                        $('#my-dialog').html(res);
                    }
                });
            }
        });



        function myFunction() {
            var objrock_front_spring = document.getElementById("rock_front_spring").style.backgroundImage;
            var objrock_front_left = document.getElementById("rock_front_left").style.backgroundImage;
            var objrock_front_right = document.getElementById("rock_front_right").style.backgroundImage;
            var objrock_back_left = document.getElementById("rock_back_left").style.backgroundImage;
            var objrock_back_right = document.getElementById("rock_back_right").style.backgroundImage;
            var springs = objrock_front_spring.split("/");
            var frontleftFront = objrock_front_left.split("/");
            var frontrightFront = objrock_front_right.split("/");
            var backleftBack = objrock_back_left.split("/");
            var backrightBack = objrock_back_right.split("/");
            document.getElementById("hdsprings").value = $.fn.SplitValue(springs).toString();
            document.getElementById("hdleftFront").value = $.fn.SplitValue(frontleftFront).toString();
            document.getElementById("hdrightFront").value = $.fn.SplitValue(frontrightFront).toString();
            document.getElementById("hdleftBack").value = $.fn.SplitValue(backleftBack).toString();
            document.getElementById("hdrightBack").value = $.fn.SplitValue(backrightBack).toString();


            var spring = document.getElementById("hdsprings").value.toString();
            if (spring == "Silver") { spring = "Silver"; }
            else if (spring == "Gold") { spring = "Gold"; }

            //$("#product_attribute_13_9_14 option:contains(" + document.getElementById("hdsprings").value.toString() + ")").attr('selected', 'selected');
            //            $("#product_attribute_13_10_16 option:contains(" + document.getElementById("hdleftFront").value.toString().split('_')[1] + ")").attr('selected', 'selected');
            //            $("#product_attribute_13_11_17 option:contains(" + document.getElementById("hdrightFront").value.toString().split('_')[1] + ")").attr('selected', 'selected');
            //            $("#product_attribute_13_12_15 option:contains(" + document.getElementById("hdleftBack").value.toString().split('_')[1] + ")").attr('selected', 'selected');
            //            $("#product_attribute_13_14_18 option:contains(" + document.getElementById("hdrightBack").value.toString().split('_')[1] + ")").attr('selected', 'selected');

            $("#product_attribute_13_9_14 option:contains(" + document.getElementById("hdsprings").value.toString() + ")").attr('selected', 'selected');


            //            $("#product_attribute_13_10_16 option:contains(" + document.getElementById("hdleftFront").value.toString().split('-')[1].replace("_", " ") + ")").attr('selected', 'selected');
            //            $("#product_attribute_13_11_17 option:contains(" + document.getElementById("hdrightFront").value.toString().split('-')[1].replace("_", " ") + ")").attr('selected', 'selected');
            //            $("#product_attribute_13_12_15 option:contains(" + document.getElementById("hdleftBack").value.toString().split('-')[1].replace("_", " ") + ")").attr('selected', 'selected');
            //            $("#product_attribute_13_14_18 option:contains(" + document.getElementById("hdrightBack").value.toString().split('-')[1].replace("_", " ") + ")").attr('selected', 'selected');
            var re = new RegExp('_', 'g');
            $("#product_attribute_13_10_16 option:contains(" + document.getElementById("hdleftFront").value.toString().split('-')[1].replace(re, ' ') + ")").attr('selected', 'selected');
            $("#product_attribute_13_11_17 option:contains(" + document.getElementById("hdrightFront").value.toString().split('-')[1].replace(re, ' ') + ")").attr('selected', 'selected');
            $("#product_attribute_13_12_15 option:contains(" + document.getElementById("hdleftBack").value.toString().split('-')[1].replace(re, ' ') + ")").attr('selected', 'selected');
            $("#product_attribute_13_14_18 option:contains(" + document.getElementById("hdrightBack").value.toString().split('-')[1].replace(re, ' ') + ")").attr('selected', 'selected');



            $("#product_attribute_13_9_14 option").each(function () {
                if ($(this).text() == spring) {
                    $(this).attr('selected', 'selected');
                }
            });

            $("#product_attribute_13_10_16 option").each(function () {
                //if ($(this).text() == document.getElementById("hdleftFront").value.toString().split('-')[1].replace("_", " ")) {
                if ($(this).text() == document.getElementById("hdleftFront").value.toString().split('-')[1].replace(re, ' ')) {
                    $(this).attr('selected', 'selected');
                }
            });

            $("#product_attribute_13_11_17 option").each(function () {
                //if ($(this).text() == document.getElementById("hdrightFront").value.toString().split('-')[1].replace("_", " ")) {
                if ($(this).text() == document.getElementById("hdrightFront").value.toString().split('-')[1].replace(re, ' ')) {
                    $(this).attr('selected', 'selected');
                }
            });

            $("#product_attribute_13_12_15 option").each(function () {
                //if ($(this).text() == document.getElementById("hdleftBack").value.toString().split('-')[1].replace("_", " ")) {
                if ($(this).text() == document.getElementById("hdleftBack").value.toString().split('-')[1].replace(re, ' ')) {
                    $(this).attr('selected', 'selected');
                }
            });

            $("#product_attribute_13_14_18 option").each(function () {
                //if ($(this).text() == document.getElementById("hdrightBack").value.toString().split('-')[1].replace("_", " ")) {
                if ($(this).text() == document.getElementById("hdrightBack").value.toString().split('-')[1].replace(re, ' ')) {
                    $(this).attr('selected', 'selected');
                }
            });
        }



        // ]]>
    </script>
</div>
<div id="loader">
    <div class="load" id="ajax_loading">
        @*  <img src="/Content/images/loading.gif" />*@ Please wait.....
    </div>
</div>
