﻿@model Nop.Web.Models.Catalog.Sinek_CutPointWebModel
@using Nop.Core;
@using Nop.Core.Infrastructure;
@using Nop.Web;
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;
@using Nop.Web.Models.Catalog;
@using Nop.Web.Extensions;
@{
    Layout = "";
}
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js" type="text/javascript"></script>
@*<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js"
    type="text/javascript"></script>
       <script type="text/javascript">
           var jQuery = $;
    
    </script>*@
<div class="top-title">
    Add to Cart
    <div class="closethick">
        @*<a href="javascript:void()" onclick="hide('my-dialog'), hide('loading_overlay')">*@
        @*<a href="/p/13/Rockerzskateguards Product" onclick="hide('my-dialog'), hide('loading_overlay')">*@
        <a href="/p/13/RockerzSkateGuards" onclick="hide('my-dialog'), hide('loading_overlay')">
        </a>
    </div>
</div>
<div class="ui-dialog-content">
    <div class="blade">
    </div>
    <table class="adminContent attributebdr">
        <tr>
            <td colspan="2">
                <h2 class="require">
                    Required Fields</h2>
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @*@Html.NopLabelFor(model => model.ManufacturerId):*@ Blade Make:
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.ManufacturerId, Model.AvailableManufacturerId, new { style = "width: 250px;" })
                @*@Html.DropDownList("ddmanufacturer", Model.AvailableManufacturerId)*@ @*@Html.EditorFor(model => model.ManufacturerId)*@
                @Html.ValidationMessageFor(model => model.ManufacturerId)
            </td>
        </tr>
        @*@if (Model.Sinek_ModelEnabled)
                    {*@
        <tr>
            <td class="adminTitle">
                @*@Html.NopLabelFor(model => model.ModelId):*@ Blade Model:
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.ModelId, Model.AvailableModelId, new { style = "width: 250px;" })
                @*@Html.DropDownList("ddmanufacturer", Model.AvailableManufacturerId)*@ @*@Html.EditorFor(model => model.ManufacturerId)*@
                @Html.ValidationMessageFor(model => model.ModelId)
            </td>
        </tr>
        @*}*@
        <tr>
            <td class="adminTitle">
                Blade Size:
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.AvailableCutPoint, Model.AvailableCutPoint, new { style = "width: 250px;" })
                <input type="text" id="txtCutPoint1" value="@Model.CutPoint" style="display:none;" />
                @*<label for="@Model.CutPoint" id="lblCutPoint"  />*@
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @*@Html.NopLabelFor(model => model.Size):*@ @*Blade Size*@
            </td>
            <td class="adminData">
                @*@Html.EditorFor(model => model.Size)*@ @*<input type="text" id="txtsize1" value="@Model.Size" />*@
                @*@Html.ValidationMessageFor(model => model.Size)*@
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @*@Html.NopLabelFor(model => model.CutPoint):*@
            </td>
            <td class="adminData">
                @* @Html.EditorFor(model => model.CutPoint)*@ @*@Html.ValidationMessageFor(model => model.CutPoint)*@
                @* @Html.EditorFor(x => x.Description, "RichEditor")
                            @Html.ValidationMessageFor(model => model.Description)*@
            </td>
        </tr>
        <tr style="display:none;">
            <td class="adminTitle">
                <span>Towel Color:</span>
            </td>
            <td>
                <input type="radio" checked="checked" id="pinktowel" value="Pink" name="towelcolor" />
                <label for="pinktowel">
                    <img alt="pink towel" src="../../Content/Images/pinkswatch.png" />
                    Pink</label>
                <br />
                <input type="radio" id="greentowel" value="Green" name="towelcolor" />
                <label for="greentowel">
                    <img alt="green towel" src="../../Content/Images/greenswatch.png" />
                    Green</label>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <!--@*<input type="submit" name="addtocart-@(Model.ProductVariantId)" class="productvariantaddtocartbutton" value="@(Model.AvailableForPreOrder ? T("ShoppingCart.PreOrder") : T("ShoppingCart.AddToCart"))" />*@
                       
                        @*<input type="submit" name="addtowishlist-@(Model.ProductVariantId)" class="productvariantaddtowishlistbutton" value="@T("ShoppingCart.AddToWishlist")" />*@
                        <input type="submit" name="" class="productvariantaddtowishlistbutton" value="AddToWishlist" />
                        <br />
 -->
                <!-- <button onclick="myFunction()" class="design_btn_txt f-left" type="submit">
                                <span class="design_btn_txt f-left" id="finalize_btn_txt">finalize </span>
                            </button>-->
            </td>
        </tr>
    </table>
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
            </td>
            <td class="adminData">
            </td>
        </tr>
    </table>
    @*<div class="botm_img" >*@
    <div style="width: 100%; text-align: center;">
    @if (Model.ModalPictureModel.ImageUrl != "")
    {
        <img src="@Model.ModalPictureModel.ImageUrl"  width="332px" height="151px"/>
    }
    </div>
    @*@Html.Partial("_FreeGift.cshtml",Model.product);*@
    @*<table align="center" width="300px" >
        <tr>
            <td><img src="../../Content/Images/RockerzTag.png" />
            </td>
            <td>Rockerz luggage tag as a free gift for each pair of Rockerz purchased.
            </td>
        </tr>
    </table>*@
    @*<div style="width:300px"><div></div><div style="vertical-align:top;">Rockerz luggage tag as a free gift for each pair of Rockerz purchased.</div></div>*@
</div>
<div class="buttons">
    <a onclick="CheckValidEntry();" href="#" class="canelbtn conti-link">
        Add To Cart</a>
    <!--<input type="submit" name="" class="productvariantaddtocartbutton" value="Add To Cart" />-->
    @*<a href="/p/13/Rockerzskateguards Product" class="canelbtn" onclick="hide('my-dialog'), hide('loading_overlay')">Cancel</a>*@
    <a href="/p/13/RockerzSkateGuards" class="canelbtn" onclick="hide('my-dialog'), hide('loading_overlay')">Cancel</a>
    <img id="imgLoading" src="../../Content/Images/ajax_loader_big.gif" alt="" style="display: none;" />
</div>
<script type="text/javascript">
    function showLoading() {
        $("#imgLoading").show();
    }

    function CheckValidEntry() {
        var isValid = false;
        var message = "";

        var manufacturerId = $("#ManufacturerId option:selected").val();
        //var manufacturerText = $("#ManufacturerId option:selected").text().trim().toString();
        var manufacturerText = $("#ManufacturerId option:selected").text().toString();


        var ModelId = $("#ModelId option:selected").val();
        //var modelText = $("#ModelId option:selected").text().trim().toString();
        var modelText = $("#ModelId option:selected").text().toString();

        var availableCutPointId = $("#AvailableCutPoint option:selected").val();
        //var availableCutPoint = $("#AvailableCutPoint option:selected").text().trim().toString();
        var availableCutPoint = $("#AvailableCutPoint option:selected").text().toString();

        //var txtCutPoint1 = $("input#txtCutPoint1").val().trim().toString();
        var txtCutPoint1 = $("input#txtCutPoint1").val().toString();

        if (manufacturerText == "Select Blade Make" || manufacturerId == 0) {
            message = message + " Please select Blade Make \n";
            alert(message);
            return;
        }
        else if (modelText == "Select Model" || ModelId == 0) {
            message = message + " Please select Blade Model \n";
            alert(message);
            return;
        }
        else if (availableCutPoint == "Select Size" || availableCutPointId == 0) {
            message = message + " Please select Blade Size \n";
            alert(message);
            return;
        }
        //            else if (txtCutPoint1 == "") {
        //                message = message + " Please given Blade cut point. ";
        //                alert(message);
        //                return;
        //            }

        document.getElementById('btnAddToCart').click();
        hide('my-dialog');
        hide('loading_overlay');
        //document.getElementById("my-dialog").style.display = 'inline';
        document.getElementById("loading_overlay").style.display = 'inline';
    }

</script>
<script type="text/javascript">
var $=jQuery;
        var selectedManufacturer=0;
        var firstModelCount=0;
        var selectedModel=0;
        var selectedCutPoint=0;
        var cutPointValues;
        var blankValue = "";
             $(function() {
            
                   $("#@Html.FieldIdFor(model => model.ManufacturerId)").change(function() {
                        
                        var selectedItem = $(this).val();
                        selectedManufacturer = selectedItem;
                        var ddlModel = $("#@Html.FieldIdFor(model => model.ModelId)");
                        var ddlSize = $("#@Html.FieldIdFor(model => model.AvailableCutPoint)");
                        ddlModel.html('');
                        ddlSize.html('');
                        
                        try {
                        $.ajax({
                            cache:false,
                            async:false,
                            type: "GET",
                            dataType:"JSON",
                            url: "@(Url.Action("GetSinek_ModelByManufacturerId", "ModelPopupWeb"))",
                            //url: "https://localhost:55352/ModelPopupWeb/GetSinek_ModelByManufacturerId",
                            data: { "manufacturerId": selectedItem, "addEmptyModelIfRequired": "true" },
                            //url: "https://localhost:55352/ModelPopupWeb/GetSinek_ModelByManufacturerId",
                            success: function (data) {
                            
                                if(selectedManufacturer!=0)
                                {
//                                    ddlModel.html('<option value="0">Select Model</option>');
//                                    ddlSize.html('<option value="0">Select Size</option>');
                                }
                                $('#txtCutPoint1').val(blankValue);
                                $.each(data, function(id, option) {
                                    ddlModel.append($('<option></option>').val(option.id).html(option.name));
                                    var modelFIrstID =  option.id;
                                    if(firstModelCount==0){
                                    $.ajax({
                                        cache:false,
                                        async:false,
                                        type: "GET",
                                        dataType:"JSON",
                                        url: "@(Url.Action("GetSinek_CutPointByModelIId", "ModelPopupWeb"))",
                                        //url: "https://localhost:55352/sinek_model/GetSinek_CutPointByModelIId",
                                        data: { "modelId": modelFIrstID, "manufacturerId": selectedManufacturer, "addEmptyModelIfRequired": "true" },
                                        success: function (data) {
                                            //ddlSize.html('');
                                            if(selectedModel!=0)
                                            {
            //                                    ddlSize.html('<option value="0">Select Size</option>');
                                            }
                                            $('#txtCutPoint1').val(blankValue);
                                            $.each(data, function(id, option) {
                                                ddlSize.append($('<option></option>').val(option.id).html(option.name));
                                            });
                                        },
                                        error:function (xhr, ajaxOptions, thrownError){
                                            alert('Failed to retrieve sizes.')
                                        }  
                                    });

                                    }
                                    firstModelCount = firstModelCount +1;

                                });
                            },
                            error:function (xhr, ajaxOptions, thrownError){
                                alert('Failed to retrieve models.')
                            }  
                        });
                        } catch (e) {
                            alert(e);
                        }
                        firstModelCount=0;
                    });
                    
//                    Here we fill Cut Point Drop Down

                    $("#@Html.FieldIdFor(model => model.ModelId)").change(function() {
                        var selectedItem = $(this).val();
                        selectedModel =selectedItem;
                        if(selectedManufacturer==0)
                        {
                        selectedManufacturer ="@ViewBag.FirstManufacturerId";
                        }

                        var ddlSize = $("#@Html.FieldIdFor(model => model.AvailableCutPoint)");
                        var ddlModel = $("#@Html.FieldIdFor(model => model.ModelId)");
                        $("#txtCutPoint1").val(blankValue);
                        ddlSize.html('');
                        $.ajax({
                            cache:false,
                            async:false,
                            type: "GET",
                            dataType:"JSON",
                            url: "@(Url.Action("GetSinek_CutPointByModelIId", "ModelPopupWeb"))",
                            //url: "https://localhost:55352/sinek_model/GetSinek_CutPointByModelIId",
                            data: { "modelId": selectedItem, "manufacturerId": selectedManufacturer, "addEmptyModelIfRequired": "true" },
                            success: function (data) {

                                //ddlSize.html('');
                                if(selectedModel!=0)
                                {
//                                    ddlSize.html('<option value="0">Select Size</option>');
                                }
                                $('#txtCutPoint1').val(blankValue);
                                $.each(data, function(id, option) {
                                
                                    ddlSize.append($('<option></option>').val(option.id).html(option.name));
                                });
                            },
                            error:function (xhr, ajaxOptions, thrownError){
                                alert('Failed to retrieve sizes.')
                            }  
                        });
                    });

                    $("#@Html.FieldIdFor(model => model.ModelId)").change(function() {
                        var selectedItem = $(this).val();
                        selectedModel = selectedItem;
                        var manufacturerId = selectedManufacturer;
                        var size = $("#@Html.FieldIdFor(model => model.Size)")
                        var cutpoint = $("#@Html.FieldIdFor(model => model.CutPoint)")
                        $("#txtCutPoint1").val(blankValue);
                        $.ajax({
                             cache:false,
                            async:false,
                            type: "GET",
                            dataType:"JSON",
                            url: "@(Url.Action("GetSinek_CutPointByManufacturerIdModelId", "ModelPopupWeb"))",
                            //url: "https://localhost:55352/sinek_model/GetSinek_CutPointByManufacturerIdModelId",
                            data: { "modelId": selectedItem, "manufacturerId": manufacturerId, "addEmptyModelIfRequired": "true" },
                            success: function (data) {
                            $('#txtCutPoint1').val(blankValue);
//                                $.each(data, function(id, option) {
//                                    $("#txtCutPoint1").val(option.id);
//                                });
                            },
                            error:function (xhr, ajaxOptions, thrownError){
                                alert('Failed to retrieve cut point.')
                            }  
                        });
                    });

//                    $("#@Html.FieldIdFor(model => model.AvailableCutPoint)").change(function() {
//                        var selectedItem = $(this).val();
//                        var size = $("#@Html.FieldIdFor(model => model.Size)")
//                        $("#txtCutPoint1").val(blankValue);
//                        cutPointValues = $("#@Html.FieldIdFor(model => model.AvailableCutPoint) option:selected").text();
//                        
//                        $.ajax({
//                             cache:false,
//                            async:false,
//                            type: "GET",
//                            dataType:"JSON",
//                            url: "@(Url.Action("GetSinek_CutPointByManufacturerIdModelIdSize", "ModelPopupWeb"))",
//                            //url: "https://localhost:55352/sinek_model/GetSinek_CutPointByManufacturerIdModelIdSize",
//                            data: { "modelId": selectedModel, "manufacturerId": selectedManufacturer, "Size": cutPointValues, "addEmptyModelIfRequired": "true" },
//                            success: function (data) {
//                            $("#txtCutPoint1").val(blankValue);
//                                $.each(data, function(id, option) {
//                                    $("#txtCutPoint1").val(option.name);
//                                });
//                            },
//                            error:function (xhr, ajaxOptions, thrownError){
//                                alert('Failed to retrieve cut point.')
//                            }  
//                        });
//                    });
                });
</script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        $("#dvloader").show();
    });
</script>
@*  @Html.Partial("_ProductVariantAddToCart", Model)*@ 