﻿@model CheckoutPaymentInfoModel
@using Nop.Core.Domain.Orders;
@using Nop.Web.Models.Checkout;
@using Nop.Web.Models.Common;
@using Nop.Web.Framework.UI;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}
<div class="checkout-page">
    @Html.Action("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Payment })
    <div class="clear">
    </div>
    <div class="page-title">
        <h1>@T("Checkout.PaymentInfo")</h1>
    </div>
    <div class="clear">
    </div>
    <div class="checkout-data">
        @using (Html.BeginRouteForm("CheckoutPaymentInfo", FormMethod.Post))
        {
            @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "checkout_payment_info_top" })
            <div class="payment-info">
                <div class="body">
                    @Html.Action(Model.PaymentInfoActionName, Model.PaymentInfoControllerName, Model.PaymentInfoRouteValues)
                </div>
                <div class="clear">
                </div>
                <div class="select-button">
                    <input type="submit" name="nextstep" value="@T("Checkout.NextButton")" id="nextstep" class="paymentinfonextstepbutton" />
                </div>
            </div>
            
            <div class="clear">
            </div>
            <div class="message-error">
                @Html.ValidationSummary(false)
            </div>
            @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "checkout_payment_info_bottom" })
        }
        <div class="clear">
        </div>
        <div class="order-summary-title">
            @T("Checkout.OrderSummary")
        </div>
        <div class="clear">
        </div>
        <div class="order-summary-body">
            @Html.Action("OrderSummary", "ShoppingCart", new { isEditable = false })

             <div class="coupn_wrapper">
          <div class="discount_on_shipping">
            @{
                using (Html.BeginRouteForm("ShoppingCart", FormMethod.Post))
                {
                <div class="coupon-box">
                    <b>@T("ShoppingCart.DiscountCouponCode")</b>
                    <br />@T("ShoppingCart.DiscountCouponCode.Tooltip")<br />
                    <input name="discountcouponcode" type="text" id="discountcouponcode" class="discountcouponcode" />&nbsp;
                    <input type="submit" name="applydiscountcouponcodeByPass" value="@T("ShoppingCart.DiscountCouponCode.Button")" id="applydiscountcouponcodeByPass" class="applycouponcodebutton" />
                    @if (!String.IsNullOrEmpty(Model.DiscountMessage))
                    {
                        <div class="clear">
                        </div>
                        <div class="message-error">
                            @Model.DiscountMessage
                        </div>
                    }
                    @if (!String.IsNullOrEmpty(Model.CurrentDiscountCode))
                    {
                        <div class="clear">
                        </div>
                        <div class="current-code">
                            <br />
                            @string.Format(T("ShoppingCart.DiscountCouponCode.CurrentCode").Text, Model.CurrentDiscountCode)
                            @*empty value (little hack for FormValueExistsAttribute)*@
                            <input id="removediscountcouponcode" type="submit" name="removediscountcouponcode" value=" " title="@T("Common.Remove")" class="removediscountbutton" />
                        </div>
                    }
                </div>
                }
            }
        </div>
        <div class="gftcard">
            @{
                using (Html.BeginRouteForm("ShoppingCart", FormMethod.Post))
                {
                
                <div class="giftcard-box">
                    <b>@T("ShoppingCart.GiftCardCouponCode")</b>
                    <br />@T("ShoppingCart.GiftCardCouponCode.Tooltip")<br />
                    <input name="giftcardcouponcode" type="text" id="giftcardcouponcode" class="giftcardcouponcode" />&nbsp;
                    <input type="submit" name="applygiftcardcouponcodeByPass" value="@T("ShoppingCart.GiftCardCouponCode.Button")" id="applygiftcardcouponcodeByPass" class="applycouponcodebutton" />
                    @*Here we using DiscountMessage as like GiftCardMessage*@
                    @if (!String.IsNullOrEmpty(Model.GiftCardMessage))
                    {
                        <div class="clear">
                        </div>
                        <div class="message-error">
                            @Model.GiftCardMessage
                        </div>
                    }
                </div>
                
                }
                }
        </div>
      
        </div>
        </div>
         <div class="clear">
    </div>
    <div class="coupon-box terms"><b>@T("freegiftdescription")</b></div>
     <div class="clear">
    </div>
       
    </div>
</div>
