﻿@model CheckoutShippingMethodModel
@using Nop.Core.Domain.Orders;
@using Nop.Web.Models.Checkout;
@using Nop.Web.Models.Common;
@using Nop.Web.Framework.UI;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}
<div class="checkout-page">
    @Html.Action("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Shipping })
    <div class="clear">
    </div>
    <div class="page-title">
        <h1>@T("Checkout.SelectShippingMethod")</h1>
    </div>
    <div class="clear">
    </div>
    <div class="checkout-data">
        @using (Html.BeginRouteForm("CheckoutShippingMethod", FormMethod.Post))
        {
            @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "checkout_shipping_method_top" })
            <div class="shipping-options">
                @if (Model.Warnings.Count == 0)
                {
                    <div>
                        @for (int i = 0; i < Model.ShippingMethods.Count; i++)
                        {
                            var shippingMethod = Model.ShippingMethods[i];
                            <div class="shipping-option-item">
                                <div class="option-name">
                                    <input id="shippingoption_@(i)" type="radio" name="shippingoption" value="@(shippingMethod.Name)___@(shippingMethod.ShippingRateComputationMethodSystemName)"  @(i == 0 ? Html.Raw(" checked=\"checked\"") : null) />
                                    <label for="shippingoption_@(i)">@shippingMethod.Name (@shippingMethod.Fee)</label>
                                </div>
                                @if (!String.IsNullOrEmpty(shippingMethod.Description))
                                {
                                    <div class="option-description">
                                        @Html.Raw(shippingMethod.Description)
                                    </div>
                                }
                            </div>
                        }
                        <div class="clear">
                        </div>
                        <div class="select-button">
                            <input type="submit" name="nextstep" value="@T("Checkout.NextButton")" id="nextstep" class="shippingmethodnextstepbutton" />
                        </div>
                    </div>
                }
                else
                {
                    <div class="clear">
                    </div>
                    <div class="message-error">
                        @for (int i = 0; i < Model.Warnings.Count; i++)
                        {
                            @Model.Warnings[i]
                       if (i != Model.Warnings.Count - 1)
                       {
                            <br />
                       }
                        }
                    </div>
                }
            </div>
            @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "checkout_shipping_method_bottom" })
        }
        <div class="clear">
        </div>
        <div class="order-summary-title">
            @T("Checkout.OrderSummary")
        </div>
        <div class="clear">
        </div>
        <div class="order-summary-body">
            @Html.Action("OrderSummary", "ShoppingCart", new { isEditable = false })
            <div class="discount_on_shipping" style="display: none;">
                @{
                    using (Html.BeginRouteForm("ShoppingCart", FormMethod.Post))
                    {
                    <div class="coupon-box">
                        <b>@T("ShoppingCart.DiscountCouponCode")</b>
                        <br />@T("ShoppingCart.DiscountCouponCode.Tooltip")<br />
                        <input name="discountcouponcode" type="text" id="discountcouponcode" class="discountcouponcode" />&nbsp;
                        <input type="submit" name="applydiscountcouponcodeByPass" value="@T("ShoppingCart.DiscountCouponCode.Button")" id="applydiscountcouponcodeByPass" class="applycouponcodebutton" />
                        @if (!String.IsNullOrEmpty(Model.DiscountMessage))
                        {
                            <div class="clear">
                            </div>
                            <div class="message-error">
                                @Model.DiscountMessage
                            </div>
                        }
                        @if (!String.IsNullOrEmpty(Model.CurrentDiscountCode))
                        {
                            <div class="clear">
                            </div>
                            <div class="current-code">
                                <br />
                                @string.Format(T("ShoppingCart.DiscountCouponCode.CurrentCode").Text, Model.CurrentDiscountCode)
                                @*empty value (little hack for FormValueExistsAttribute)*@
                                <input id="removediscountcouponcode" type="submit" name="removediscountcouponcode" value=" " title="@T("Common.Remove")" class="removediscountbutton" />
                            </div>
                        }
                    </div>
                    }
                }
            </div>
        </div>
         <div class="clear">
    </div>
    <div class="coupon-box terms"><b>@T("freegiftdescription")</b></div>
     <div class="clear">
    </div>
    </div>
</div>
