﻿@using Nop.Core
@using Nop.Core.Domain.Customers
@using Nop.Core.Domain.NB
@model AddressModel
@inject IWorkContext workContext
@{
}
@if (Model.CountryEnabled && Model.StateProvinceEnabled)
{
    //we don't move this script to the footer as it's used in Ajax requests where footer is not available
    <script type="text/javascript">
        $(document).ready(function () {
            $("#@Html.IdFor(model => model.CountryId)").change(function () {
            var selectedItem = $(this).val();
            var ddlStates = $("#@Html.IdFor(model => model.StateProvinceId)");
            var statesProgress = $("#states-loading-progress");
            statesProgress.show();
                $.ajax({
                cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                    data: { "countryId": selectedItem, "addSelectStateItem": "true" },
                    success: function (data) {
                    ddlStates.html('');
                        $.each(data, function (id, option) {
                        ddlStates.append($('<option></option>').val(option.id).html(option.name));
                    });
                    statesProgress.hide();
                },
                    error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve states.');
                    statesProgress.hide();
                }
            });
        });
    });
    </script>
}


<input asp-for="Id" type="hidden" />
<div class="checkAdressSt" style="display:none;"></div>
<div>
    <div class="page-body form-inputs">
        <div class="edit-address">
            <div class="row">
                <div class="col-sm-6">
                    <div class="inputs">
                        <label asp-for="FirstName" asp-postfix=":"></label>
                        <input asp-for="FirstName" />
                        <nop-required />
                        <span asp-validation-for="FirstName"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="inputs">
                        <label asp-for="LastName" asp-postfix=":"></label>
                        <input asp-for="LastName" />
                        <nop-required />
                        <span asp-validation-for="LastName"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @if (Model.PhoneEnabled)
                    {
                        <div class="inputs">
                            <label asp-for="PhoneNumber" asp-postfix=":"></label>
                            <input asp-for="PhoneNumber" />
                            @if (Model.PhoneRequired)
                            {
                                <nop-required />
                            }
                            <span asp-validation-for="PhoneNumber"></span>
                        </div>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="inputs">
                        <label asp-for="Email" asp-postfix=":"></label>
                        <input asp-for="Email" />
                        <nop-required />
                        <span asp-validation-for="Email"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    @if (Model.CountryEnabled)
                    {
                        <div class="inputs">
                            <label asp-for="CountryId" asp-postfix=":"></label>
                            <select asp-for="CountryId" asp-items="Model.AvailableCountries"
                                    data-trigger="country-select"
                                    data-url="@(Url.RouteUrl("GetStatesByCountryId"))"
                                    data-stateprovince="#@Html.IdFor(model => model.StateProvinceId)"
                                    data-loading="#states-loading-progress"></select>
                            <nop-required />
                            <span asp-validation-for="CountryId"></span>
                        </div>
                    }
                </div>
            </div>


            <div class="row">
                <div class="col-sm-6">

                    @if (Model.CountryEnabled && Model.StateProvinceEnabled)
                    {
                        <div class="inputs">
                            <label asp-for="StateProvinceId" asp-postfix=":"></label>
                            <select asp-for="StateProvinceId" asp-items="Model.AvailableStates"></select>
                            <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                            <span asp-validation-for="StateProvinceId"></span>
                        </div>
                    }
                </div>
                <div class="col-sm-6">
                    @if (Model.CityEnabled)
                    {
                        <div class="inputs">
                            <label asp-for="City" asp-postfix=":"></label>
                            <input asp-for="City" />
                            @if (Model.CityRequired)
                            {
                                <nop-required />
                            }
                            <span asp-validation-for="City"></span>
                        </div>
                    }
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    @if (Model.StreetAddressEnabled)
                    {
                        <div class="inputs">
                            <label asp-for="Address1" asp-postfix=":"></label>
                            <input asp-for="Address1" />
                            @if (Model.StreetAddressRequired)
                            {
                                <nop-required />
                            }
                            <span asp-validation-for="Address1"></span>
                        </div>
                    }
                </div>
                <div class="col-sm-6">
                    @if (Model.ZipPostalCodeEnabled)
                    {
                        <div class="inputs">
                            <label asp-for="ZipPostalCode" asp-postfix=":"></label>
                            <input asp-for="ZipPostalCode" />
                            @if (Model.ZipPostalCodeRequired)
                            {
                                <nop-required />
                            }
                            <span asp-validation-for="ZipPostalCode"></span>
                        </div>
                    }
                </div>
            </div>

            <div class="row address_type">
                <input type="hidden" asp-for="AddressTypeId" />
                <ul>
                    <li>
                        <label class="radio_container add_type_home">
                            @AddressType.Home.ToString()
                            <input type="radio" name="addressType" value="@((int)AddressType.Home)" id="chkbxHome" checked />
                            <span class="checkmark"></span>
                        </label>
                    </li>
                    <li>
                        <label class="radio_container add_type_office">
                            @AddressType.Work.ToString()
                            <input type="radio" name="addressType" value="@((int)AddressType.Work)" id="chkbxOffice" />
                            <span class="checkmark"></span>
                        </label>
                    </li>
                    <li>
                        <label class="radio_container add_type_other">
                            @AddressType.Other.ToString()
                            <input type="radio" name="addressType" value="@((int)AddressType.Other)" id="chkbxOther" />
                            <span class="checkmark"></span>
                        </label>
                    </li>
                </ul>
                <script>
                    $(document).ready(function() {
                        //set addressType on Load
                        var addTypeId = parseInt('@Model.AddressTypeId');
                        if (addTypeId === 0) {
                            $("#chkbxHome").prop("checked", true);
                        } else {
                            if (parseInt($("#chkbxHome").val()) == addTypeId) {
                                $("#chkbxHome").prop("checked", true);
                            } else if (parseInt($("#chkbxOffice").val()) == addTypeId) {
                                $("#chkbxOffice").prop("checked", true);
                            } else {
                                $("#chkbxOther").prop("checked", true);
                            }
                        }

                        //set addressTypeId on click
                        $(".address_type ul li").first().addClass('active'); 
                        $('[name=addressType]').click(function () {
                            var value = $(this).val();  
                            $('[name=addressType]').removeClass('active'); 
                            $(this).addClass('active'); 
                            $('#@Html.IdFor(x=>x.AddressTypeId)').val(value);
                            $(this).parents('li').addClass('active').siblings().removeClass('active');                             
                        });                      


                        $('.addressType').on('click', function (event) {

                        })
                    });
                </script>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="inputs defaultAddressChkbx">
                        <input asp-for="IsDefaultAddress"/>
                        <label asp-for="IsDefaultAddress"></label>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="newAddresMsg">
        @if (!string.IsNullOrEmpty(Model.Message))
        {
            <span style="color:red">@(Model.Message)</span>
        }
    </div>

</div>