﻿@model CheckoutBillingAddressModel
@using Nop.Core.Domain.NB

@foreach (var address in Model.ExistingAddresses)
{
	var addressLine = "";
	addressLine += address.FirstName;
	addressLine += " " + address.LastName;
	{
		addressLine += ", " + address.Address1;
	}
	if (!string.IsNullOrEmpty(address.Address2))
	{
		addressLine += ", " + address.Address2;
	}
	if (address.CityEnabled && !string.IsNullOrEmpty(address.City))
	{
		addressLine += ", " + address.City;
	}
	if (address.StateProvinceEnabled && !string.IsNullOrEmpty(address.StateProvinceName))
	{
		addressLine += ", " + address.StateProvinceName;
	}
	if (address.ZipPostalCodeEnabled && !string.IsNullOrEmpty(address.ZipPostalCode))
	{
		addressLine += " " + address.ZipPostalCode;
	}
	if (address.CountryEnabled && !string.IsNullOrWhiteSpace(address.CountryName))
	{
		addressLine += ", " + address.CountryName;
	}
	<div class="addressBox">
		@*<div class="addressTit">Home</div>*@
		<div class="title">
			@if (address.IsDefaultAddress)
			{
				<text>
					@T("NB.Address.Type.Default") :
				</text>
			}
			else
			{
				<text>
					@T("NB.Address.Type.Other") :
				</text>
			}
			@{
				var addressType = AddressType.Home.ToString();
				if (address.AddressTypeId == (int)AddressType.Work)
				{
					addressType = AddressType.Work.ToString();
				}
				else if (address.AddressTypeId == (int)AddressType.Other)
				{
					addressType = AddressType.Other.ToString();
				}
			}
			<strong>@addressType</strong>
		</div>
		<div class="addressDisT">@(addressLine)</div>
		<input type="button" title="@T("Checkout.BillingAddress.DeliveryHere")" class="button-1 address-next-step-button" onclick="CheckGeoArea('@(address.Address2)','@(address.Id)')" value="@T("Checkout.BillingAddress.DeliveryHere")" />

	</div>
}