﻿@model CheckoutBillingAddressModel
@using Nop.Core.Domain.NB
@{
	int defaultAddressId = 0;
}
<div class="checkout-data">
	<input type="hidden" id="hdbilling_address_id" name="billing_address_id" />
	@await Component.InvokeAsync("Widget", new { widgetZone = "op_checkout_billing_address_top" })
	@if (Model.ShipToSameAddressAllowed)
	{
		<div class="section ship-to-same-address" style="display:none">
			<p class="selector">
				<input asp-for="ShipToSameAddress" />
				<label asp-for="ShipToSameAddress">@T("Checkout.ShipToSameAddress")</label>
			</p>
		</div>
	}
	<div class="section select-billing-address">
		@foreach (var address in Model.ExistingAddresses)
		{
			var addressLine = "";
			//addressLine += address.FirstName;
			//addressLine += " " + address.LastName;
			{
				addressLine += " " + address.Address1;
			}
			if (!string.IsNullOrEmpty(address.Address2))
			{
				addressLine += "," + address.Address2;
			}
			if (address.CityEnabled && !string.IsNullOrEmpty(address.City))
			{
				addressLine += ", " + address.City;
			}
			if (address.StateProvinceEnabled && !string.IsNullOrEmpty(address.StateProvinceName))
			{
				addressLine += ", " + address.StateProvinceName;
			}
			if (address.ZipPostalCodeEnabled && !string.IsNullOrEmpty(address.ZipPostalCode))
			{
				addressLine += " " + address.ZipPostalCode;
			}
			if (address.CountryEnabled && !string.IsNullOrWhiteSpace(address.CountryName))
			{
				addressLine += ", " + address.CountryName;
			}
			//how should we render "FormattedCustomAddressAttributes" here?
			@*<option value="@(address.Id)">@(addressLine)</option>*@
			<div class="addressBox">
				@*<div class="addressTit">Home</div>*@
				<div class="addressTit">
					<span>
						@if (address.IsDefaultAddress)
						{
							<text>
								@T("NB.Address.Type.Default") :
							</text>
						}
						else
						{
							<text>
								@T("NB.Address.Type.Other") :
							</text>
						}
					</span>
					@{
						var addressType = AddressType.Home.ToString();
						if (address.AddressTypeId == (int)AddressType.Work)
						{
							addressType = AddressType.Work.ToString();
						}
						else if (address.AddressTypeId == (int)AddressType.Other)
						{
							addressType = AddressType.Other.ToString();
						}
					}
					@addressType
				</div>
				@*<div class="addressTit"><span>@T("NB.Delivery.Default")</span> : Home</div>*@
				<div class="addressDisT">
					<ul>
						<li class="name">@address.FirstName @address.LastName</li>
						<li class="addressLine">@(addressLine)</li>
						<li class="phone"><span>@T("NB.Delivery.Phone")</span> - +@address.PhoneNumber</li>
					</ul>
				</div>
				<div class="addressBtn">
					<input type="button" title="@T("Checkout.BillingAddress.DeliveryHere")" class="button-1 address-next-step-button wid" onclick="Billing.selectAddress('@(address.Id)')" value="@T("Checkout.BillingAddress.DeliveryHere")" />
				</div>
				@*<div class="addressEditDelete">
						<ul>
							<li><input type="button" value="Edit" /></li>
							<li><input type="button" value="Delete" /></li>
						</ul>
					</div>*@
			</div>

			@if (address.IsDefaultAddress)
			{
				defaultAddressId = address.Id;
			}
		}

	</div>
	<div class="addressBox Footer">
		<input type="button" title="@T("Checkout.BillingAddress.AddNewAddress")" class="button-1 new-address-next-step-button wid" onclick="Billing.selectAddress('')" value="+ @T("NB.AddNew.Address")" data-toggle="modal" data-target="#billing-new-address-form" />
	</div>
	@if (Model.NewAddressPreselected || Model.ExistingAddresses.Count == 0)
	{
		<script type="text/javascript">
			Billing.newAddress(true);
		</script>
	}
	else
	{
		<script type="text/javascript">
			//Billing.newAddress(false);
		</script>
		<script type="text/javascript">
			Billing.newAddress(false);
		</script>
	}

	@if (defaultAddressId > 0)
	{
		<script type="text/javascript">
            $(document).ready(function () {
                Billing.selectAddress('@defaultAddressId');
            })
		</script>
	}

	@await Component.InvokeAsync("Widget", new { widgetZone = "op_checkout_billing_address_middle" })
	<div class="section new-billing-address customNewAddressC modal fade" id="billing-new-address-form" role="dialog" style="display:none">
		@*<div class="opacityBg"></div>*@
		<div class="newAddressForm">
			<div class="addressBoxPopup">
				<div class="enter-address">
					<button type="button" class="close" data-dismiss="modal" onclick="Billing.closePopup();"><i class="fa times"></i></button>
					<h3> @T("Common.AddNewAddress")</h3>
					<div asp-validation-summary="ModelOnly" class="message-error"></div>
					@{
						var dataDictAddress = new ViewDataDictionary(ViewData);
						dataDictAddress.TemplateInfo.HtmlFieldPrefix = "BillingNewAddress";
						@await Html.PartialAsync("_CreateOrUpdateAddressCheckout", Model.BillingNewAddress, dataDictAddress)
					}
				</div>
				<div class="buttons" id="billing-buttons-container" style="clear:both;">
					<input type="button" id="billing-button-continue" title="@T("NB.Common.Save.Address")" class="button-1 new-address-next-step-button" onclick="Billing.save()" value="@T("NB.Common.Save.Address")" />
					<span class="please-wait" id="billing-please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
				</div>
			</div>
		</div>
	</div>
	@await Component.InvokeAsync("Widget", new { widgetZone = "op_checkout_billing_address_bottom" })
</div>
<script>
	//$(".new-address-next-step-button").click(function () {
	//    $('footer').after('<div class="modal-backdrop fade in"></div>');

	//});


</script>

@*<script>
		$('.popupAddCart').click(function () {
			$("modal").hide();
			$(".jquery-modal").hide();
			document.querySelector("body").style.overflow = 'auto';
			document.getElementsByClassName("notAndroid23").style.overflow = "auto";
		});
	</script>*@
