﻿@model CheckoutLoginSignUpModel
<div class="checkout-data">
    <div id="dv-login-signup-buttons">
        <ul class="nav nav-pills">
            <li class="active"><a data-toggle="pill" href="#opcLogin" @*onclick="LoginSignUp.showHideLoginSignup('#dv-checkout-login','#dv-checkout-signup')"*@> @*@T("Checkout.LoginSignup.Login")*@<span>@T("Checkout.LoginSignup.HaveAnAccount")</span></a> </li>
            <li><a data-toggle="pill" href="#opcSignup" class="opcSignUp" @*onclick="LoginSignUp.showHideLoginSignup('#dv-checkout-signup','#dv-checkout-login')"*@>@*@T("Checkout.LoginSignup.SignUp")*@ <span>@T("Checkout.LoginSignup.NewCustomer")</span></a> </li>
        </ul>
    </div>
    <div class="tab-content">
        <div id="opcLogin" class="tab-pane fade in active">
            <div id="dv-checkout-login">
                @await Html.PartialAsync("OpcLogin", Model)
            </div>
        </div>
        <div id="opcSignup" class="tab-pane fade">
            <div id="dv-checkout-signup">
                @await Html.PartialAsync("OpcSignup", Model.SignUpModel)
            </div>
        </div>
    </div>
</div>
