﻿@model CheckoutLoginSignUpModel
@{
	Html.AddScriptParts(ResourceLocation.Footer, "~/js/public.onepagecheckout.js?v=1.0");
}
<div class="checkout-data">
	<label asp-postfix="" for="PhoneOrEmail">@T("Checkout.LoginSignup.Email")</label>
	<input type="text" id="txtPhoneOrEmail" name="PhoneOrEmail" value="@Model.PhoneOrEmail" placeholder="@T("NB.Opc.Enter.Email.Address")" />

	@if (Model.IsEmail)
	{
		<label asp-postfix="" for="Password">@T("Checkout.LoginSignup.Password")</label>
		<input type="password" id="txtPassword" name="Password" placeholder="@T("NB.Opc.Enter.Password")" />
		<input asp-for="IsEmail" id="txtIsEmail" name="IsEmail" checked="checked" style="display:none;" />
	}
	else
	{
		<input asp-for="IsEmail" id="txtIsEmail" name="IsEmail" style="display:none;" />
	}
	@if (!string.IsNullOrEmpty(Model.Message))
	{
		if (Model.IsValid)
		{
			<div style="color:green;">@Model.Message</div>
		}
		else
		{
			<div class="error-msg">@Model.Message</div>
		}
	}
	<div class="buttons" id="billing-buttons-container">
		<span class="please-wait" id="login-please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
		<input type="button" title="@T("Checkout.LoginSignup.Button.Login")" class="button-1 new-address-next-step-button" onclick="LoginSignUp.submit('checkout/OpcLogin/')" value="@T("Checkout.LoginSignup.Button.Login")" />
	</div>
</div>
<script>
	function rmvReadonly(obj) {
		if (obj.hasAttribute('readonly')) {
			obj.removeAttribute('readonly');
			obj.blur(); obj.focus();
		}
	}
	$("#txtPassword").on("keyup", function (e) {
		var key = e.which;
		if (key == 13) {
			LoginSignUp.submit('checkout/OpcLogin/');
		}
	});
</script>