﻿@model string
<div class="checkout-data">
    <div id="dv-LoginDetails" class="step-title">
        @T("Checkout.LoginSignup.LoggedIn.Heading") <img src="/Themes/RockerzV1/Content/img/greenCheckImg1.png">
    </div>
    <div id="checkout-step-login-signup" class="step a-item">
        <h4 class="title4">@Model</h4>
    </div>
</div>
