﻿@model CheckoutShippingMethodModel
<div class="checkout-data">
	<div class="section shipping-payment-method shipping-method">
		@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.OpCheckoutShippingMethodTop })
		@if (Model.Warnings.Count == 0)
		{
			<ul class="method-list">
				@for (var i = 0; i < Model.ShippingMethods.Count; i++)
				{
					var shippingMethod = Model.ShippingMethods[i];
					<li class="@(shippingMethod.Selected? Html.Raw("active") : null)">
						<div class="method-name">
							<input id="shippingoption_@(i)" type="radio" name="shippingoption" value="@(shippingMethod.Name)___@(shippingMethod.ShippingRateComputationMethodSystemName)" checked="@shippingMethod.Selected" />
							<label for="shippingoption_@(i)">@T("Checkout.SelectShippingMethod.MethodAndFee", shippingMethod.Name, shippingMethod.Fee)</label>
						</div>
						@if (!string.IsNullOrEmpty(shippingMethod.Description))
						{
							<div class="method-description">
								@Html.Raw(shippingMethod.Description)
							</div>
						}
					</li>
				}
			</ul>
			<script>
				$(document).ready(function () {
					$(".shipping-method .method-list li label").click(function () {
						$(this).parents("li").siblings("li").removeClass("active");
						$(this).parents("li").addClass("active");
					});
				});
			</script>
			if (Model.NotifyCustomerAboutShippingFromMultipleLocations)
			{
				<div class="multiple-locations">
					@T("Checkout.ShippingMethod.ShippingFromMultipleLocations")
				</div>
			}
		}
		else
		{
			<div class="message-error">
				<ul>
					@foreach (var warning in Model.Warnings)
					{
						<li>@warning</li>
					}
				</ul>
			</div>
		}
		@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.OpCheckoutShippingMethodBottom })
	</div>
</div>
