@model Sinek_ModelModel
@{
	//page title
	ViewBag.Title = T("Admin.Catalog.SinekModel.EditSinekModelDetails").Text;
	//active menu item (system name)
	Html.SetActiveMenuItemSystemName("Sinek Model");
}

<form asp-controller="Sinek_Model" asp-action="Edit" method="post" id="sinekmodel-form">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Catalog.SinekModel.EditSinekModelDetails") - @Model.Name
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.Catalog.SinekModel.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span id="sinekmodel-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </span>
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="sinekmodel-delete" />