﻿@model ProductDetailsModel
@using Nop.Core;
@using Nop.Core.Domain.Common;
@using Nop.Core.Infrastructure;
@using Nop.Web;
@using Nop.Web.Framework.UI;
@using Nop.Web.Models.Catalog;
@{
	ViewBag.Title = "GetDivContent";
}
@{

	var defaultProductVariant = Model != null ? Model : null;

}
<script type="text/ecmascript">

</script>
<div class="product-details-page" style="display: none;">
	@*we add enctype = "multipart/form-data" because "File upload" attribute control type requries it*@

	<form asp-route="Product" asp-route-sename="@Model.SeName" method="post" id="product-details-form">
		<div class="product-essential">
			<div class="product-details-info">
				<div>
					<!--price & add to cart-->
					@{
						var dataDictPrice = new ViewDataDictionary(ViewData);
						dataDictPrice.TemplateInfo.HtmlFieldPrefix = $"price_{Model.Id}";
						@await Html.PartialAsync("_ProductPrice", Model.ProductPrice, dataDictPrice)

						@await Html.PartialAsync("_ProductTierPrices", Model.TierPrices)

						var dataDictAddToCart = new ViewDataDictionary(ViewData);
						dataDictAddToCart.TemplateInfo.HtmlFieldPrefix = $"addtocart_{Model.Id}";
						@await Html.PartialAsync("_AddToCart", Model.AddToCart, dataDictAddToCart)
					}
				</div>
			</div>
		</div>

		<div class="product-collateral">
			<div class="product-variant-line">
				<div>
					<div class="clear">
					</div>
					<!--attributes-->
					@{
						var dataDictAttributes = new ViewDataDictionary(ViewData);
						dataDictAttributes.TemplateInfo.HtmlFieldPrefix = $"attributes_{Model.Id}";
						@await Html.PartialAsync("_ProductAttributes", Model.ProductAttributes, dataDictAttributes)
					}
					<div class="clear">
					</div>
				</div>
			</div>
			<div class="clear">
			</div>
		</div>
	</form>
</div>
