﻿@using Nop.Core;
@using Nop.Core.Infrastructure;
@using Nop.Core.Infrastructure.DependencyManagement;
@{
    var displayMiniProfiler = EngineContext.Current.Resolve<Nop.Core.Domain.StoreInformationSettings>().DisplayMiniProfilerInPublicStore;
    
    //resources
    //Html.AppendCssFileParts(@Url.Content("~/Content/jquery-ui-themes/smoothness/jquery-ui-1.10.3.custom.css"));
    Html.AppendCssFileParts(@Url.Content("~/Content/smoothness/jquery-ui-1.8.17.custom.css"));

    //Header Flashing images
    Html.AppendScriptParts(@Url.Content("~/Themes/Rockerz/Content/js/rockerz.splash.js"));

    Html.AppendScriptParts(@Url.Content("~/Scripts/public.ajaxcart.js"));
    Html.AppendScriptParts(@Url.Content("~/Scripts/public.common.js"));
    Html.AppendScriptParts(@Url.Content("~/Scripts/jquery-ui.min.js"));
    Html.AppendScriptParts(@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js"));
    Html.AppendScriptParts(@Url.Content("~/Scripts/jquery.validate.min.js"));
    Html.AppendScriptParts(@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js"));
    Html.AppendScriptParts(@Url.Content("~/Scripts/jquery.cycle.lite.js"));
    //Html.AppendScriptParts(@Url.Content("~/Scripts/jquery-ui-1.10.3.custom.min.js"));
    Html.AppendScriptParts(@Url.Content("~/Scripts/jquery-ui-1.8.18.min.js"));
    //Html.AppendScriptParts(@Url.Content("~/Scripts/jquery-1.10.2.min.js"));
    Html.AppendScriptParts(@Url.Content("~/Scripts/jquery-3.5.1.min.js"));
}
@*<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js"
    type="text/javascript"></script>
    <script type="text/javascript">
        var jQuery = $;
    
    </script>*@
<!DOCTYPE html>
<html @Html.Partial("LanguageAttributes")>
<head>
    <title>@Html.NopTitle(true)</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="description" content="@(Html.NopMetaDescription())" />
    <meta name="keywords" content="@(Html.NopMetaKeywords())" />
    @*This is used so that themes can inject content into the header*@
    @Html.Partial("Head")
    @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "head_html_tag" })
    @Html.NopCssFiles(this.Url, ResourceLocation.Head)
    @Html.NopScripts(this.Url, ResourceLocation.Head)
    @Html.NopCanonicalUrls()
    @Html.Action("RssHeaderLink", "News")
    @Html.Action("RssHeaderLink", "Blog")
    @*Favicon - upload favicon.ico file to the root directory*@
    @Html.Action("Favicon", "Common")
    @if (displayMiniProfiler)
    {
        @StackExchange.Profiling.MiniProfiler.RenderIncludes();
    }
    <!--Powered by nopCommerce - http://www.nopCommerce.com-->
    <!--Copyright (c) 2008-2012-->
</head>
<body id="Entry">
    @RenderBody()
    @Html.NopCssFiles(this.Url, ResourceLocation.Head)
    @Html.NopScripts(this.Url, ResourceLocation.Head)
</body>
</html>
