﻿<div class="header">
    <div class="headerlink">
        @Html.Action("HeaderLinks", "Common")
        @Html.Action("FlyoutShoppingCart", "ShoppingCart")
    </div>
    <div class="header-logo">
        <a href="@Url.RouteUrl("HomePage")" class="logo-inner">&nbsp; </a>
    </div>
    <div id="banner_menu">
        <ul>
            <li><a href="/t/Product" id="menu_product">product</a></li>
            <li><a href="/t/Company" id="menu_company">company</a></li>
            <li><a href="/p/13/RockerzSkateGuards" id="menu_designmine">design</a></li>
            <li><a href="/t/Gallery" id="menu_gallery">photos</a></li>
            <li><a href="/t/Purchase" id="menu_purchase">purchase</a></li>
        </ul>
    </div>
    <div id="banner_wheel" class="slideshow">
        <img src="/Themes/Rockerz/Content/Images/Banner_Wheel_01.png" alt="" />
        <img src="/Themes/Rockerz/Content/Images/Banner_Wheel_02.png" alt="" />
        <img src="/Themes/Rockerz/Content/Images/Banner_Wheel_03.png" alt="" />
        <img src="/Themes/Rockerz/Content/Images/Banner_Wheel_04.png" alt="" />
        <img src="/Themes/Rockerz/Content/Images/Banner_Wheel_05.png" alt="" />
        <img src="/Themes/Rockerz/Content/Images/Banner_Wheel_06.png" alt="" />
        <img src="/Themes/Rockerz/Content/Images/Banner_Wheel_07.png" alt="" />
        <img src="/Themes/Rockerz/Content/Images/Banner_Wheel_08.png" alt="" />
        <img src="/Themes/Rockerz/Content/Images/Banner_Wheel_09.png" alt="" />
        <img src="/Themes/Rockerz/Content/Images/Banner_Wheel_10.png" alt="" />
        <img src="/Themes/Rockerz/Content/Images/Banner_Wheel_11.png" alt="" />
        <img src="/Themes/Rockerz/Content/Images/Banner_Wheel_12.png" alt="" />
    </div>
    @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "header_selectors" })
</div>
